/* ====== btn style ==================================================== */
.img-btn-login {
    color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg id='Icon_open-account-login' data-name='Icon open-account-login' xmlns='http://www.w3.org/2000/svg' width='23.703' height='20.74' viewBox='0 0 23.703 20.74'%3E%3Cpath id='Icon_open-account-login-2' data-name='Icon open-account-login' d='M8.889,0V2.963H20.74V17.777H8.889V20.74H23.7V0Zm2.963,5.926V8.889H0v2.963H11.852v2.963l5.926-4.444Z' fill='%23fff'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: right top;
    width: 23.7px;
    height: 20.74px;
    display: inline-block;
    overflow: hidden;
    text-indent: -999px;
}

.img-btn-menu {
    /* text  style */
    text-indent: -999px;

    /* content box style */
    background-repeat: no-repeat;
    background-position: right top;
    width: 27px;
    height: 15.75px;
    display: inline-block;
    overflow: hidden;
    padding-left: 30px;
}
    .img-btn-menu-golden {
        background-image: url("data:image/svg+xml,%3Csvg id='Icon_ionic-ios-menu' data-name='Icon ionic-ios-menu' xmlns='http://www.w3.org/2000/svg' width='27' height='15.75' viewBox='0 0 27 15.75'%3E%3Cpath id='패스_1' data-name='패스 1' d='M30.375,12.375H5.625A1.128,1.128,0,0,1,4.5,11.25h0a1.128,1.128,0,0,1,1.125-1.125h24.75A1.128,1.128,0,0,1,31.5,11.25h0A1.128,1.128,0,0,1,30.375,12.375Z' transform='translate(-4.5 -10.125)' fill='%23b19d74'/%3E%3Cpath id='패스_2' data-name='패스 2' d='M30.375,19.125H5.625A1.128,1.128,0,0,1,4.5,18h0a1.128,1.128,0,0,1,1.125-1.125h24.75A1.128,1.128,0,0,1,31.5,18h0A1.128,1.128,0,0,1,30.375,19.125Z' transform='translate(-4.5 -10.125)' fill='%23b19d74'/%3E%3Cpath id='패스_3' data-name='패스 3' d='M30.375,25.875H5.625A1.128,1.128,0,0,1,4.5,24.75h0a1.128,1.128,0,0,1,1.125-1.125h24.75A1.128,1.128,0,0,1,31.5,24.75h0A1.128,1.128,0,0,1,30.375,25.875Z' transform='translate(-4.5 -10.125)' fill='%23b19d74'/%3E%3C/svg%3E%0A");
    }

    .img-btn-menu-white{
        background-image: url("data:image/svg+xml,%3Csvg id='Icon_ionic-ios-menu' data-name='Icon ionic-ios-menu' xmlns='http://www.w3.org/2000/svg' width='27' height='15.75' viewBox='0 0 27 15.75'%3E%3Cpath id='패스_1' data-name='패스 1' d='M30.375,12.375H5.625A1.128,1.128,0,0,1,4.5,11.25h0a1.128,1.128,0,0,1,1.125-1.125h24.75A1.128,1.128,0,0,1,31.5,11.25h0A1.128,1.128,0,0,1,30.375,12.375Z' transform='translate(-4.5 -10.125)' fill='%23fff'/%3E%3Cpath id='패스_2' data-name='패스 2' d='M30.375,19.125H5.625A1.128,1.128,0,0,1,4.5,18h0a1.128,1.128,0,0,1,1.125-1.125h24.75A1.128,1.128,0,0,1,31.5,18h0A1.128,1.128,0,0,1,30.375,19.125Z' transform='translate(-4.5 -10.125)' fill='%23fff'/%3E%3Cpath id='패스_3' data-name='패스 3' d='M30.375,25.875H5.625A1.128,1.128,0,0,1,4.5,24.75h0a1.128,1.128,0,0,1,1.125-1.125h24.75A1.128,1.128,0,0,1,31.5,24.75h0A1.128,1.128,0,0,1,30.375,25.875Z' transform='translate(-4.5 -10.125)' fill='%23fff'/%3E%3C/svg%3E%0A");
    }

    .img-btn-menu-bluewhite{
        background-image: url("data:image/svg+xml,%3Csvg id='Icon_ionic-ios-menu' data-name='Icon ionic-ios-menu' xmlns='http://www.w3.org/2000/svg' width='27' height='15.75' viewBox='0 0 27 15.75'%3E%3Cpath id='패스_1' data-name='패스 1' d='M30.375,12.375H5.625A1.128,1.128,0,0,1,4.5,11.25h0a1.128,1.128,0,0,1,1.125-1.125h24.75A1.128,1.128,0,0,1,31.5,11.25h0A1.128,1.128,0,0,1,30.375,12.375Z' transform='translate(-4.5 -10.125)' fill='%23e6eef2'/%3E%3Cpath id='패스_2' data-name='패스 2' d='M30.375,19.125H5.625A1.128,1.128,0,0,1,4.5,18h0a1.128,1.128,0,0,1,1.125-1.125h24.75A1.128,1.128,0,0,1,31.5,18h0A1.128,1.128,0,0,1,30.375,19.125Z' transform='translate(-4.5 -10.125)' fill='%23e6eef2'/%3E%3Cpath id='패스_3' data-name='패스 3' d='M30.375,25.875H5.625A1.128,1.128,0,0,1,4.5,24.75h0a1.128,1.128,0,0,1,1.125-1.125h24.75A1.128,1.128,0,0,1,31.5,24.75h0A1.128,1.128,0,0,1,30.375,25.875Z' transform='translate(-4.5 -10.125)' fill='%23e6eef2'/%3E%3C/svg%3E%0A");
    }

    .img-btn-menu-lightgrey{
        background-image: url("data:image/svg+xml,%3Csvg id='Icon_ionic-ios-menu' data-name='Icon ionic-ios-menu' xmlns='http://www.w3.org/2000/svg' width='27' height='15.75' viewBox='0 0 27 15.75'%3E%3Cpath id='패스_1' data-name='패스 1' d='M30.375,12.375H5.625A1.128,1.128,0,0,1,4.5,11.25h0a1.128,1.128,0,0,1,1.125-1.125h24.75A1.128,1.128,0,0,1,31.5,11.25h0A1.128,1.128,0,0,1,30.375,12.375Z' transform='translate(-4.5 -10.125)' fill='%23a9a9a9'/%3E%3Cpath id='패스_2' data-name='패스 2' d='M30.375,19.125H5.625A1.128,1.128,0,0,1,4.5,18h0a1.128,1.128,0,0,1,1.125-1.125h24.75A1.128,1.128,0,0,1,31.5,18h0A1.128,1.128,0,0,1,30.375,19.125Z' transform='translate(-4.5 -10.125)' fill='%23a9a9a9'/%3E%3Cpath id='패스_3' data-name='패스 3' d='M30.375,25.875H5.625A1.128,1.128,0,0,1,4.5,24.75h0a1.128,1.128,0,0,1,1.125-1.125h24.75A1.128,1.128,0,0,1,31.5,24.75h0A1.128,1.128,0,0,1,30.375,25.875Z' transform='translate(-4.5 -10.125)' fill='%23a9a9a9'/%3E%3C/svg%3E%0A");
    }

    .img-btn-menu-weightedwhite{
        background-image: url("data:image/svg+xml,%3Csvg id='Icon_ionic-ios-menu' data-name='Icon ionic-ios-menu' xmlns='http://www.w3.org/2000/svg' width='27' height='15.75' viewBox='0 0 27 15.75'%3E%3Cpath id='패스_1' data-name='패스 1' d='M30.375,12.375H5.625A1.128,1.128,0,0,1,4.5,11.25h0a1.128,1.128,0,0,1,1.125-1.125h24.75A1.128,1.128,0,0,1,31.5,11.25h0A1.128,1.128,0,0,1,30.375,12.375Z' transform='translate(-4.5 -10.125)' fill='%23eee'/%3E%3Cpath id='패스_2' data-name='패스 2' d='M30.375,19.125H5.625A1.128,1.128,0,0,1,4.5,18h0a1.128,1.128,0,0,1,1.125-1.125h24.75A1.128,1.128,0,0,1,31.5,18h0A1.128,1.128,0,0,1,30.375,19.125Z' transform='translate(-4.5 -10.125)' fill='%23eee'/%3E%3Cpath id='패스_3' data-name='패스 3' d='M30.375,25.875H5.625A1.128,1.128,0,0,1,4.5,24.75h0a1.128,1.128,0,0,1,1.125-1.125h24.75A1.128,1.128,0,0,1,31.5,24.75h0A1.128,1.128,0,0,1,30.375,25.875Z' transform='translate(-4.5 -10.125)' fill='%23eee'/%3E%3C/svg%3E%0A");
    }
    

.img-btn-go-back {
    /* text style */
    text-indent: -999px;

    /* content box style */
    background-repeat: no-repeat;
    background-position: left top;
    width: 14px;
    height: 24px;
    display: inline-block;
    overflow: hidden;
}
    .img-btn-go-back-golden {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.503' height='23.619' viewBox='0 0 13.503 23.619'%3E%3Cpath id='Icon_ionic-ios-arrow-back' data-name='Icon ionic-ios-arrow-back' d='M15.321,18l8.937-8.93a1.688,1.688,0,0,0-2.391-2.384L11.742,16.8a1.685,1.685,0,0,0-.049,2.327L21.86,29.32a1.688,1.688,0,0,0,2.391-2.384Z' transform='translate(-11.251 -6.194)' fill='%23b19d74'/%3E%3C/svg%3E%0A");
    }

    .img-btn-go-back-white{
        background-image: url("data:image/svg+xml,%3Csvg id='Icon_ionic-ios-arrow-back' data-name='Icon ionic-ios-arrow-back' xmlns='http://www.w3.org/2000/svg' width='13.503' height='23.619' viewBox='0 0 13.503 23.619'%3E%3Cpath id='Icon_ionic-ios-arrow-back-2' data-name='Icon ionic-ios-arrow-back' d='M15.321,18l8.937-8.93a1.688,1.688,0,0,0-2.391-2.384L11.742,16.8a1.685,1.685,0,0,0-.049,2.327L21.86,29.32a1.688,1.688,0,0,0,2.391-2.384Z' transform='translate(-11.251 -6.194)' fill='%23fff'/%3E%3C/svg%3E%0A");
    }

    .img-btn-go-back-bluewhite{
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.503' height='23.619' viewBox='0 0 13.503 23.619'%3E%3Cpath id='Icon_ionic-ios-arrow-back' data-name='Icon ionic-ios-arrow-back' d='M15.321,18l8.937-8.93a1.688,1.688,0,0,0-2.391-2.384L11.742,16.8a1.685,1.685,0,0,0-.049,2.327L21.86,29.32a1.688,1.688,0,0,0,2.391-2.384Z' transform='translate(-11.251 -6.194)' fill='%23e6eef2'/%3E%3C/svg%3E%0A");
    }

    .img-btn-go-back-lightgrey{
        background-image: url("data:image/svg+xml,%3Csvg id='Icon_ionic-ios-arrow-back' data-name='Icon ionic-ios-arrow-back' xmlns='http://www.w3.org/2000/svg' width='13.503' height='23.619' viewBox='0 0 13.503 23.619'%3E%3Cpath id='Icon_ionic-ios-arrow-back-2' data-name='Icon ionic-ios-arrow-back' d='M15.321,18l8.937-8.93a1.688,1.688,0,0,0-2.391-2.384L11.742,16.8a1.685,1.685,0,0,0-.049,2.327L21.86,29.32a1.688,1.688,0,0,0,2.391-2.384Z' transform='translate(-11.251 -6.194)' fill='%23a9a9a9'/%3E%3C/svg%3E%0A");
    }

    .img-btn-go-back-weightedwhite{
        background-image: url("data:image/svg+xml,%3Csvg id='Icon_ionic-ios-menu' data-name='Icon ionic-ios-menu' xmlns='http://www.w3.org/2000/svg' width='27' height='15.75' viewBox='0 0 27 15.75'%3E%3Cpath id='패스_1' data-name='패스 1' d='M30.375,12.375H5.625A1.128,1.128,0,0,1,4.5,11.25h0a1.128,1.128,0,0,1,1.125-1.125h24.75A1.128,1.128,0,0,1,31.5,11.25h0A1.128,1.128,0,0,1,30.375,12.375Z' transform='translate(-4.5 -10.125)' fill='%23eee'/%3E%3Cpath id='패스_2' data-name='패스 2' d='M30.375,19.125H5.625A1.128,1.128,0,0,1,4.5,18h0a1.128,1.128,0,0,1,1.125-1.125h24.75A1.128,1.128,0,0,1,31.5,18h0A1.128,1.128,0,0,1,30.375,19.125Z' transform='translate(-4.5 -10.125)' fill='%23eee'/%3E%3Cpath id='패스_3' data-name='패스 3' d='M30.375,25.875H5.625A1.128,1.128,0,0,1,4.5,24.75h0a1.128,1.128,0,0,1,1.125-1.125h24.75A1.128,1.128,0,0,1,31.5,24.75h0A1.128,1.128,0,0,1,30.375,25.875Z' transform='translate(-4.5 -10.125)' fill='%23eee'/%3E%3C/svg%3E%0A");
    }


.img-btn-minus {
    /* text  style */
    text-indent: -999px;

    /* content box style */
    display: inline-block;
    width: 15px;
    height: 14px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15.48' height='3.148' viewBox='0 0 15.48 3.148'%3E%3Cg id='Icon_awesome-minus' data-name='Icon awesome-minus' transform='translate(0.5 0.5)'%3E%3Cpath id='Icon_awesome-minus-2' data-name='Icon awesome-minus' d='M13.446,4.062H1.034C.463,4.062,0,4.383,0,4.779v.716c0,.4.463.716,1.034.716H13.446c.571,0,1.034-.321,1.034-.716V4.779C14.48,4.383,14.017,4.062,13.446,4.062Z' transform='translate(0 -4.063)' fill='%236b6b6b' stroke='%236b6b6b' stroke-width='1'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;

    /* effect */
    cursor: pointer;
}

.img-btn-plus {
    /* text  style */
    text-indent: -999px;

    /* content box style */
    display: inline-block;
    width: 14px;
    height: 14px;
    background-image: url("data:image/svg+xml,%3Csvg id='Icon_awesome-plus' data-name='Icon awesome-plus' xmlns='http://www.w3.org/2000/svg' width='13.53' height='13.53' viewBox='0 0 13.53 13.53'%3E%3Cpath id='Icon_awesome-plus-2' data-name='Icon awesome-plus' d='M.966,8.84H5.315v4.349a.967.967,0,0,0,.966.966h.966a.967.967,0,0,0,.966-.966V8.84h4.349a.967.967,0,0,0,.966-.966V6.907a.967.967,0,0,0-.966-.966H8.215V1.591A.967.967,0,0,0,7.248.625H6.282a.967.967,0,0,0-.966.966V5.94H.966A.967.967,0,0,0,0,6.907v.966A.967.967,0,0,0,.966,8.84Z' transform='translate(0 -0.625)' fill='%236b6b6b'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;

    /* effect */
    cursor: pointer;
}

.btn-search{
   /* text  style */
   font-family: 'Nueva Std';
   font-size: 20px;
   font-weight: bold;
   color: #E6EEF2;
   
    /* content box style */
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 38px;
   border: 1px solid #B19D74;
   border-radius: 5px;
   background-color: #B19D74;

   /* effect */
   cursor: pointer;
}

.img-btn-chat {
    display: inline-block;
    width: 70px;
    height: 70px;
    overflow: hidden;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='76' height='76' viewBox='0 0 76 76'%3E%3Cdefs%3E%3Cfilter id='패스_20' x='0' y='0' width='76' height='76' filterUnits='userSpaceOnUse'%3E%3CfeOffset dy='5' input='SourceAlpha'/%3E%3CfeGaussianBlur stdDeviation='3' result='blur'/%3E%3CfeFlood flood-opacity='0.161'/%3E%3CfeComposite operator='in' in2='blur'/%3E%3CfeComposite in='SourceGraphic'/%3E%3C/filter%3E%3C/defs%3E%3Cg transform='matrix(1, 0, 0, 1, 0, 0)' filter='url(%23패스_20)'%3E%3Cpath id='패스_20-2' data-name='패스 20' d='M29,0A29,29,0,1,1,0,29,29,29,0,0,1,29,0Z' transform='translate(9 4)' fill='%23479ddc'/%3E%3C/g%3E%3Cpath id='Icon_material-chat' data-name='Icon material-chat' d='M22.3,3H5.144A2.142,2.142,0,0,0,3.011,5.144L3,24.444l4.289-4.289H22.3a2.151,2.151,0,0,0,2.144-2.144V5.144A2.151,2.151,0,0,0,22.3,3ZM7.289,10.505H20.155V12.65H7.289Zm8.577,5.361H7.289V13.722h8.577Zm4.289-6.433H7.289V7.289H20.155Z' transform='translate(24 20.556)' fill='%23fff'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    text-indent: -999px;    
}

.btn-more {
    /* text  style */
    font-family: 'Sitka Heading', "SimSun-ExtB";
    font-size: 11px;
    font-weight: normal;
    color: #FFFFFF;
    text-decoration: none;

    /* content box style */
    border: 1px solid #fff;
    padding: 3px 6px;

    /* transition */
    transition: 0.6s;
}

    .btn-more:hover {
        /* text  style */
        color: #000000;

        /* content box style */
        background-color: #FFFFFF;
    }

/* ----- location -------------------------------- */
.img-btn-map-full-screen {
    /* text style */
    text-indent: -999px;
    
    /* content box style */
    display: inline-block;
    background-image: url("data:image/svg+xml,%3Csvg id='Icon_material-zoom-out-map' data-name='Icon material-zoom-out-map' xmlns='http://www.w3.org/2000/svg' width='14.37' height='14.37' viewBox='0 0 14.37 14.37'%3E%3Cpath id='Icon_material-zoom-out-map-2' data-name='Icon material-zoom-out-map' d='M14.08,4.5l1.836,1.836L13.609,8.627l1.134,1.134,2.291-2.307L18.87,9.29V4.5ZM4.5,9.29,6.336,7.454,8.627,9.761,9.761,8.627,7.454,6.336,9.29,4.5H4.5Zm4.79,9.58L7.454,17.033l2.307-2.291L8.627,13.609,6.336,15.916,4.5,14.08v4.79Zm9.58-4.79-1.836,1.836-2.291-2.307-1.134,1.134,2.307,2.291L14.08,18.87h4.79Z' transform='translate(-4.5 -4.5)' fill='%23707070'/%3E%3C/svg%3E%0A");
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-position: center;
    width: 28px;
    height: 28px;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);

    /* effect */
    cursor: pointer;
}

.btn-map-zoom {
    width: 69px;
    height: 31px;
    border-radius: 5px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    background-color: #FFFFFF;

    /* effect */
    cursor: pointer;
}

    .btn-map-zoom>span {
        /* text style */
        text-indent: -999px;
        
        /* content box style */
        display: inline-block;
        background-repeat: no-repeat;
        background-position: center;
        overflow: hidden;
        width: 15px;
        height: 15px;
        padding-left: 16px;
        margin-top: 6px;
        padding-top: 2px;
        padding-bottom: 2px;
    }
    
    .btn-map-zoom .img-btn-zoom-out {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15.48' height='3.148' viewBox='0 0 15.48 3.148'%3E%3Cg id='Icon_awesome-minus' data-name='Icon awesome-minus' transform='translate(0.5 0.5)'%3E%3Cpath id='Icon_awesome-minus-2' data-name='Icon awesome-minus' d='M13.446,4.062H1.034C.463,4.062,0,4.383,0,4.779v.716c0,.4.463.716,1.034.716H13.446c.571,0,1.034-.321,1.034-.716V4.779C14.48,4.383,14.017,4.062,13.446,4.062Z' transform='translate(0 -4.063)' fill='%236b6b6b' stroke='%236b6b6b' stroke-width='1'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
    
    .btn-map-zoom .img-btn-zoom-in {
        background-image: url("data:image/svg+xml,%3Csvg id='Icon_awesome-plus' data-name='Icon awesome-plus' xmlns='http://www.w3.org/2000/svg' width='13.53' height='13.53' viewBox='0 0 13.53 13.53'%3E%3Cpath id='Icon_awesome-plus-2' data-name='Icon awesome-plus' d='M.966,8.84H5.315v4.349a.967.967,0,0,0,.966.966h.966a.967.967,0,0,0,.966-.966V8.84h4.349a.967.967,0,0,0,.966-.966V6.907a.967.967,0,0,0-.966-.966H8.215V1.591A.967.967,0,0,0,7.248.625H6.282a.967.967,0,0,0-.966.966V5.94H.966A.967.967,0,0,0,0,6.907v.966A.967.967,0,0,0,.966,8.84Z' transform='translate(0 -0.625)' fill='%236b6b6b'/%3E%3C/svg%3E%0A");
        border-left: 0.5px solid #A9A9A9;
    }

.btn-detail {
    /* text  style */
    font-family: 'Sitka Heading', "SimSun-ExtB";
    font-size: 13px;
    font-weight: bold;
    color: #5782B9;
    text-decoration: none;

    /* content box style */
    border: 1px solid #707070;
    padding: 3px 6px;

     /* transition */
     transition: 0.6s;
}

.btn-detail:hover {
    color: #fff;
    
    background-color: #707070;
}

/* --------------------------------------------------- */
.btn-user-reservation,
.btn-login,
.btn-search-password,
.btn-search-id {
    /* text style */
    font-family: '나눔스퀘어라운드', "Minion Pro";
    font-weight: bold;
    font-size: 15px;
    color: #A9A9A9;
}

.btn-submit,
.btn-go_to-login {
    /* text style */
    font-family: 'Montserrat', "Minion Pro";
    font-weight: 600;
    font-size: 13px;
    color: #FFFFFF;

    /* content box style */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 53px;
    border: none;
    border-radius: 52px;
    background-color: #B19D74;
    transition: 0.4s;
    cursor: pointer;
}

.btn-submit:hover,
.btn-go_to-login:hover {
    background-color: #977E4B;
}


.btn-reset {
    /* text style */
    font-family: 'Montserrat', "Minion Pro";
    font-weight: 600;
    font-size: 14px;
    color: #707070;

    /* content box style */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 108px;
    height: 48px;
    border: 2px solid #977E4B;
    border-radius: 52px;
    background-color: transparent;
    transition: 0.4s;
    cursor: pointer;
}



.img-btn-naver {
    /* text  style */
    text-indent: -999px;

    /* content box style */
    background-image: url("/images/sns-icon/naver-icon-style-removebg-preview.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
    width: 59px;
    height: 59px;
    display: inline-block;
    overflow: hidden;  
}

.img-btn-kakao {
    /* text  style */
    text-indent: -999px;

    /* content box style */
    background-image: url("/images/sns-icon/png-transparent-kakaotalk-instant-messaging-android-android-text-telephone-call-logo-removebg-preview.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    width: 56px;
    height: 56px;
    display: inline-block;
    overflow: hidden;  
}

.img-btn-google {
    /* text  style */
    text-indent: -999px;

    /* content box style */
    background-image: url("/images/sns-icon/google-icon-styl-removebg-preview.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
    width: 63px;
    height: 63px;
    display: inline-block;
    overflow: hidden;
}


/* ------- rooms -------------------------------------- */
.btn-select-schedule  {
    /* text style */
    font-family: '나눔스퀘어라운드';
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;

    /* content box style */
    width: 262px;
    height: 41px;
    background-color: #B19D74;
    border-radius: 10px;

    /* layout */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------- admin -------------------------------------- */


.btn-admin-edit {
    /* text style */
    font-family: 'Minion Pro';
    font-size: 13px;
    font-weight: bold;
    color: #1E3146;
    
    /* layout */
    width: 67px;
    height: 25px;
    background-color: #EEEEEE;
    border: 1px solid #BFBFBF;
    border-radius: 25px;
     display: flex;
     align-items: center;
     justify-content: center;

    /* effect */
    cursor: pointer;
    transition: 0.4s;
}

.btn-admin-edit:hover {
    background-color: rgb(192, 204, 212);
}