/* 저작자: 김수하 */
/* ====== btn style ==================================================== */
.img-btn-login {
    /* text style */
    text-indent: -999px;
    
    /* content box style */
    /* background-image: url("data:image/svg+xml,%3Csvg id='Icon_open-account-login' data-name='Icon open-account-login' xmlns='http://www.w3.org/2000/svg' width='23.703' height='20.74' viewBox='0 0 23.703 20.74'%3E%3Cpath id='Icon_open-account-login-2' data-name='Icon open-account-login' d='M8.889,0V2.963H20.74V17.777H8.889V20.74H23.7V0Zm2.963,5.926V8.889H0v2.963H11.852v2.963l5.926-4.444Z' fill='%23fff'/%3E%3C/svg%3E%0A"); */
    /* background-image: url("data:image/svg+xml,%3Csvg id='Icon_open-account-login' data-name='Icon open-account-login' xmlns='http://www.w3.org/2000/svg' width='23.703' height='20.74' viewBox='0 0 23.703 20.74'%3E%3Cpath id='Icon_open-account-login-2' data-name='Icon open-account-login' d='M8.889,0V2.963H20.74V17.777H8.889V20.74H23.7V0Zm2.963,5.926V8.889H0v2.963H11.852v2.963l5.926-4.444Z' fill='%23333'/%3E%3C/svg%3E%0A"); */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18.895' height='20.785' viewBox='0 0 18.895 20.785'%3E%3Cg id='그룹_14367' data-name='그룹 14367' transform='translate(-2 -1)'%3E%3Cpath id='패스_11155' data-name='패스 11155' d='M12.945,19.9a.945.945,0,1,0,0,1.89H20.5a.945.945,0,0,0,.945-.945V1.945A.945.945,0,0,0,20.5,1H12.945a.945.945,0,0,0,0,1.89h6.613V19.9Z' transform='translate(-0.552)' fill='%23333'/%3E%3Cpath id='패스_11156' data-name='패스 11156' d='M2,11.724a.945.945,0,0,0,.945.945H13.891l-2.166,2.166a.945.945,0,1,0,1.336,1.336l3.779-3.779a.945.945,0,0,0,0-1.336L13.06,7.277a.945.945,0,1,0-1.336,1.336l2.166,2.166H2.945A.945.945,0,0,0,2,11.724Z' transform='translate(0 -0.331)' fill='%23333'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: right top;
    width: 23.7px;
    height: 20.74px;
    display: inline-block;
    overflow: hidden;
}

.img-btn-menu {
    /* text  style */
    text-indent: -999px;

    /* content box style */
    background-repeat: no-repeat;
    background-position: right top;
    width: 27px;
    height: 15.75px;
    display: inline-block;
    overflow: hidden;
    padding-left: 30px;
}
    .img-btn-menu-golden {
        background-image: url("data:image/svg+xml,%3Csvg id='Icon_ionic-ios-menu' data-name='Icon ionic-ios-menu' xmlns='http://www.w3.org/2000/svg' width='27' height='15.75' viewBox='0 0 27 15.75'%3E%3Cpath id='패스_1' data-name='패스 1' d='M30.375,12.375H5.625A1.128,1.128,0,0,1,4.5,11.25h0a1.128,1.128,0,0,1,1.125-1.125h24.75A1.128,1.128,0,0,1,31.5,11.25h0A1.128,1.128,0,0,1,30.375,12.375Z' transform='translate(-4.5 -10.125)' fill='%23b19d74'/%3E%3Cpath id='패스_2' data-name='패스 2' d='M30.375,19.125H5.625A1.128,1.128,0,0,1,4.5,18h0a1.128,1.128,0,0,1,1.125-1.125h24.75A1.128,1.128,0,0,1,31.5,18h0A1.128,1.128,0,0,1,30.375,19.125Z' transform='translate(-4.5 -10.125)' fill='%23b19d74'/%3E%3Cpath id='패스_3' data-name='패스 3' d='M30.375,25.875H5.625A1.128,1.128,0,0,1,4.5,24.75h0a1.128,1.128,0,0,1,1.125-1.125h24.75A1.128,1.128,0,0,1,31.5,24.75h0A1.128,1.128,0,0,1,30.375,25.875Z' transform='translate(-4.5 -10.125)' fill='%23b19d74'/%3E%3C/svg%3E%0A");
    }

    .img-btn-menu-white{
        background-image: url("data:image/svg+xml,%3Csvg id='Icon_ionic-ios-menu' data-name='Icon ionic-ios-menu' xmlns='http://www.w3.org/2000/svg' width='27' height='15.75' viewBox='0 0 27 15.75'%3E%3Cpath id='패스_1' data-name='패스 1' d='M30.375,12.375H5.625A1.128,1.128,0,0,1,4.5,11.25h0a1.128,1.128,0,0,1,1.125-1.125h24.75A1.128,1.128,0,0,1,31.5,11.25h0A1.128,1.128,0,0,1,30.375,12.375Z' transform='translate(-4.5 -10.125)' fill='%23fff'/%3E%3Cpath id='패스_2' data-name='패스 2' d='M30.375,19.125H5.625A1.128,1.128,0,0,1,4.5,18h0a1.128,1.128,0,0,1,1.125-1.125h24.75A1.128,1.128,0,0,1,31.5,18h0A1.128,1.128,0,0,1,30.375,19.125Z' transform='translate(-4.5 -10.125)' fill='%23fff'/%3E%3Cpath id='패스_3' data-name='패스 3' d='M30.375,25.875H5.625A1.128,1.128,0,0,1,4.5,24.75h0a1.128,1.128,0,0,1,1.125-1.125h24.75A1.128,1.128,0,0,1,31.5,24.75h0A1.128,1.128,0,0,1,30.375,25.875Z' transform='translate(-4.5 -10.125)' fill='%23fff'/%3E%3C/svg%3E%0A");
    }

    .img-btn-menu-black {
        background-image: url("data:image/svg+xml,%3Csvg id='Icon_ionic-ios-menu' data-name='Icon ionic-ios-menu' xmlns='http://www.w3.org/2000/svg' width='27' height='15.75' viewBox='0 0 27 15.75'%3E%3Cpath id='패스_1' data-name='패스 1' d='M30.375,12.375H5.625A1.128,1.128,0,0,1,4.5,11.25h0a1.128,1.128,0,0,1,1.125-1.125h24.75A1.128,1.128,0,0,1,31.5,11.25h0A1.128,1.128,0,0,1,30.375,12.375Z' transform='translate(-4.5 -10.125)' fill='%23333'/%3E%3Cpath id='패스_2' data-name='패스 2' d='M30.375,19.125H5.625A1.128,1.128,0,0,1,4.5,18h0a1.128,1.128,0,0,1,1.125-1.125h24.75A1.128,1.128,0,0,1,31.5,18h0A1.128,1.128,0,0,1,30.375,19.125Z' transform='translate(-4.5 -10.125)' fill='%23333'/%3E%3Cpath id='패스_3' data-name='패스 3' d='M30.375,25.875H5.625A1.128,1.128,0,0,1,4.5,24.75h0a1.128,1.128,0,0,1,1.125-1.125h24.75A1.128,1.128,0,0,1,31.5,24.75h0A1.128,1.128,0,0,1,30.375,25.875Z' transform='translate(-4.5 -10.125)' fill='%23333'/%3E%3C/svg%3E%0A");
    }

    .img-btn-menu-bluewhite{
        background-image: url("data:image/svg+xml,%3Csvg id='Icon_ionic-ios-menu' data-name='Icon ionic-ios-menu' xmlns='http://www.w3.org/2000/svg' width='27' height='15.75' viewBox='0 0 27 15.75'%3E%3Cpath id='패스_1' data-name='패스 1' d='M30.375,12.375H5.625A1.128,1.128,0,0,1,4.5,11.25h0a1.128,1.128,0,0,1,1.125-1.125h24.75A1.128,1.128,0,0,1,31.5,11.25h0A1.128,1.128,0,0,1,30.375,12.375Z' transform='translate(-4.5 -10.125)' fill='%23e6eef2'/%3E%3Cpath id='패스_2' data-name='패스 2' d='M30.375,19.125H5.625A1.128,1.128,0,0,1,4.5,18h0a1.128,1.128,0,0,1,1.125-1.125h24.75A1.128,1.128,0,0,1,31.5,18h0A1.128,1.128,0,0,1,30.375,19.125Z' transform='translate(-4.5 -10.125)' fill='%23e6eef2'/%3E%3Cpath id='패스_3' data-name='패스 3' d='M30.375,25.875H5.625A1.128,1.128,0,0,1,4.5,24.75h0a1.128,1.128,0,0,1,1.125-1.125h24.75A1.128,1.128,0,0,1,31.5,24.75h0A1.128,1.128,0,0,1,30.375,25.875Z' transform='translate(-4.5 -10.125)' fill='%23e6eef2'/%3E%3C/svg%3E%0A");
    }

    .img-btn-menu-lightgrey{
        background-image: url("data:image/svg+xml,%3Csvg id='Icon_ionic-ios-menu' data-name='Icon ionic-ios-menu' xmlns='http://www.w3.org/2000/svg' width='27' height='15.75' viewBox='0 0 27 15.75'%3E%3Cpath id='패스_1' data-name='패스 1' d='M30.375,12.375H5.625A1.128,1.128,0,0,1,4.5,11.25h0a1.128,1.128,0,0,1,1.125-1.125h24.75A1.128,1.128,0,0,1,31.5,11.25h0A1.128,1.128,0,0,1,30.375,12.375Z' transform='translate(-4.5 -10.125)' fill='%23a9a9a9'/%3E%3Cpath id='패스_2' data-name='패스 2' d='M30.375,19.125H5.625A1.128,1.128,0,0,1,4.5,18h0a1.128,1.128,0,0,1,1.125-1.125h24.75A1.128,1.128,0,0,1,31.5,18h0A1.128,1.128,0,0,1,30.375,19.125Z' transform='translate(-4.5 -10.125)' fill='%23a9a9a9'/%3E%3Cpath id='패스_3' data-name='패스 3' d='M30.375,25.875H5.625A1.128,1.128,0,0,1,4.5,24.75h0a1.128,1.128,0,0,1,1.125-1.125h24.75A1.128,1.128,0,0,1,31.5,24.75h0A1.128,1.128,0,0,1,30.375,25.875Z' transform='translate(-4.5 -10.125)' fill='%23a9a9a9'/%3E%3C/svg%3E%0A");
    }

    .img-btn-menu-weightedwhite{
        background-image: url("data:image/svg+xml,%3Csvg id='Icon_ionic-ios-menu' data-name='Icon ionic-ios-menu' xmlns='http://www.w3.org/2000/svg' width='27' height='15.75' viewBox='0 0 27 15.75'%3E%3Cpath id='패스_1' data-name='패스 1' d='M30.375,12.375H5.625A1.128,1.128,0,0,1,4.5,11.25h0a1.128,1.128,0,0,1,1.125-1.125h24.75A1.128,1.128,0,0,1,31.5,11.25h0A1.128,1.128,0,0,1,30.375,12.375Z' transform='translate(-4.5 -10.125)' fill='%23eee'/%3E%3Cpath id='패스_2' data-name='패스 2' d='M30.375,19.125H5.625A1.128,1.128,0,0,1,4.5,18h0a1.128,1.128,0,0,1,1.125-1.125h24.75A1.128,1.128,0,0,1,31.5,18h0A1.128,1.128,0,0,1,30.375,19.125Z' transform='translate(-4.5 -10.125)' fill='%23eee'/%3E%3Cpath id='패스_3' data-name='패스 3' d='M30.375,25.875H5.625A1.128,1.128,0,0,1,4.5,24.75h0a1.128,1.128,0,0,1,1.125-1.125h24.75A1.128,1.128,0,0,1,31.5,24.75h0A1.128,1.128,0,0,1,30.375,25.875Z' transform='translate(-4.5 -10.125)' fill='%23eee'/%3E%3C/svg%3E%0A");
    }
    

.img-btn-go-back {
    /* text style */
    text-indent: -999px;

    /* content box style */
    background-repeat: no-repeat;
    background-position: left top;
    width: 14px;
    height: 24px;
    display: inline-block;
    overflow: hidden;
}
    .img-btn-go-back-golden {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.503' height='23.619' viewBox='0 0 13.503 23.619'%3E%3Cpath id='Icon_ionic-ios-arrow-back' data-name='Icon ionic-ios-arrow-back' d='M15.321,18l8.937-8.93a1.688,1.688,0,0,0-2.391-2.384L11.742,16.8a1.685,1.685,0,0,0-.049,2.327L21.86,29.32a1.688,1.688,0,0,0,2.391-2.384Z' transform='translate(-11.251 -6.194)' fill='%23b19d74'/%3E%3C/svg%3E%0A");
    }

    .img-btn-go-back-white{
        background-image: url("data:image/svg+xml,%3Csvg id='Icon_ionic-ios-arrow-back' data-name='Icon ionic-ios-arrow-back' xmlns='http://www.w3.org/2000/svg' width='13.503' height='23.619' viewBox='0 0 13.503 23.619'%3E%3Cpath id='Icon_ionic-ios-arrow-back-2' data-name='Icon ionic-ios-arrow-back' d='M15.321,18l8.937-8.93a1.688,1.688,0,0,0-2.391-2.384L11.742,16.8a1.685,1.685,0,0,0-.049,2.327L21.86,29.32a1.688,1.688,0,0,0,2.391-2.384Z' transform='translate(-11.251 -6.194)' fill='%23fff'/%3E%3C/svg%3E%0A");
    }

    .img-btn-go-back-bluewhite{
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.503' height='23.619' viewBox='0 0 13.503 23.619'%3E%3Cpath id='Icon_ionic-ios-arrow-back' data-name='Icon ionic-ios-arrow-back' d='M15.321,18l8.937-8.93a1.688,1.688,0,0,0-2.391-2.384L11.742,16.8a1.685,1.685,0,0,0-.049,2.327L21.86,29.32a1.688,1.688,0,0,0,2.391-2.384Z' transform='translate(-11.251 -6.194)' fill='%23e6eef2'/%3E%3C/svg%3E%0A");
    }

    .img-btn-go-back-lightgrey{
        background-image: url("data:image/svg+xml,%3Csvg id='Icon_ionic-ios-arrow-back' data-name='Icon ionic-ios-arrow-back' xmlns='http://www.w3.org/2000/svg' width='13.503' height='23.619' viewBox='0 0 13.503 23.619'%3E%3Cpath id='Icon_ionic-ios-arrow-back-2' data-name='Icon ionic-ios-arrow-back' d='M15.321,18l8.937-8.93a1.688,1.688,0,0,0-2.391-2.384L11.742,16.8a1.685,1.685,0,0,0-.049,2.327L21.86,29.32a1.688,1.688,0,0,0,2.391-2.384Z' transform='translate(-11.251 -6.194)' fill='%23a9a9a9'/%3E%3C/svg%3E%0A");
    }

    .img-btn-go-back-weightedwhite{
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.503' height='23.619' viewBox='0 0 13.503 23.619'%3E%3Cpath id='Icon_ionic-ios-arrow-back' data-name='Icon ionic-ios-arrow-back' d='M15.321,18l8.937-8.93a1.688,1.688,0,0,0-2.391-2.384L11.742,16.8a1.685,1.685,0,0,0-.049,2.327L21.86,29.32a1.688,1.688,0,0,0,2.391-2.384Z' transform='translate(-11.251 -6.194)' fill='%23eee'/%3E%3C/svg%3E%0A");
    }


.img-btn-minus {
    /* text  style */
    text-indent: -999px;

    /* content box style */
    display: inline-block;
    width: 15px;
    height: 14px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15.48' height='3.148' viewBox='0 0 15.48 3.148'%3E%3Cg id='Icon_awesome-minus' data-name='Icon awesome-minus' transform='translate(0.5 0.5)'%3E%3Cpath id='Icon_awesome-minus-2' data-name='Icon awesome-minus' d='M13.446,4.062H1.034C.463,4.062,0,4.383,0,4.779v.716c0,.4.463.716,1.034.716H13.446c.571,0,1.034-.321,1.034-.716V4.779C14.48,4.383,14.017,4.062,13.446,4.062Z' transform='translate(0 -4.063)' fill='%236b6b6b' stroke='%236b6b6b' stroke-width='1'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    opacity: 1;

    /* effect */
    cursor: pointer;
}

.img-btn-plus {
    /* text  style */
    text-indent: -999px;

    /* content box style */
    display: inline-block;
    width: 14px;
    height: 14px;
    background-image: url("data:image/svg+xml,%3Csvg id='Icon_awesome-plus' data-name='Icon awesome-plus' xmlns='http://www.w3.org/2000/svg' width='13.53' height='13.53' viewBox='0 0 13.53 13.53'%3E%3Cpath id='Icon_awesome-plus-2' data-name='Icon awesome-plus' d='M.966,8.84H5.315v4.349a.967.967,0,0,0,.966.966h.966a.967.967,0,0,0,.966-.966V8.84h4.349a.967.967,0,0,0,.966-.966V6.907a.967.967,0,0,0-.966-.966H8.215V1.591A.967.967,0,0,0,7.248.625H6.282a.967.967,0,0,0-.966.966V5.94H.966A.967.967,0,0,0,0,6.907v.966A.967.967,0,0,0,.966,8.84Z' transform='translate(0 -0.625)' fill='%236b6b6b'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    opacity: 1;

    /* effect */
    cursor: pointer;
}


.btn-search{
   /* text  style */
   font-family: '나눔명조';
   font-size: 18px;
   font-weight: bold;
   color: #E6EEF2;
   
    /* content box style */
    width: 100%;
    
    height: 50px;
    border: 1px solid #B19D74;
    border-radius: 5px;
    background-color: #B19D74;
   
    /* layout */
    display: flex;
    align-items: center;
    justify-content: center;

    /* effect */
    transition: 0.4s;
    cursor: pointer;
}

.btn-search:hover {
    background-color: #977E4B;
}

.img-btn-chat {
    display: inline-block;
    width: 70px;
    height: 70px;
    overflow: hidden;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='80' height='80' viewBox='0 0 80 80'%3E%3Cdefs%3E%3ClinearGradient id='linear-gradient' x1='0.5' x2='0.5' y2='1' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23d5c8b0'/%3E%3Cstop offset='1' stop-color='%23b19d74'/%3E%3C/linearGradient%3E%3Cfilter id='bg' x='0' y='0' width='80' height='80' filterUnits='userSpaceOnUse'%3E%3CfeOffset dy='5' input='SourceAlpha'/%3E%3CfeGaussianBlur stdDeviation='5' result='blur'/%3E%3CfeFlood flood-color='%234e421c' flood-opacity='0.2'/%3E%3CfeComposite operator='in' in2='blur'/%3E%3CfeComposite in='SourceGraphic'/%3E%3C/filter%3E%3CclipPath id='clip-path'%3E%3Ccircle id='bg-2' data-name='bg' cx='23' cy='23' r='23' transform='translate(312 651)' fill='%23a7996e'/%3E%3C/clipPath%3E%3ClinearGradient id='linear-gradient-2' x1='-0.24' y1='0.065' x2='0.597' y2='0.712' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23796949'/%3E%3Cstop offset='1' stop-color='%23b19d74'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg id='btn_add' transform='translate(15 10)'%3E%3Cg transform='matrix(1, 0, 0, 1, -15, -10)' filter='url(%23bg)'%3E%3Ccircle id='bg-3' data-name='bg' cx='25' cy='25' r='25' transform='translate(15 10)' fill='url(%23linear-gradient)'/%3E%3C/g%3E%3Ccircle id='bg-4' data-name='bg' cx='23' cy='23' r='23' transform='translate(2 2)' fill='%23b19d74'/%3E%3Cg id='마스크_그룹_5' data-name='마스크 그룹 5' transform='translate(-310 -649)' clip-path='url(%23clip-path)'%3E%3Cpath id='패스_11151' data-name='패스 11151' d='M812.84,2688.036l27.988,30.558-9.223,9.014-1.144,1.144-7.029,7.473-30.82-32.242,3.587-13.969' transform='translate(-468 -2024.452)' fill='url(%23linear-gradient-2)'/%3E%3C/g%3E%3Cpath id='Icon_material-chat' data-name='Icon material-chat' d='M5.144,3H22.3a2.142,2.142,0,0,1,2.134,2.144l.011,19.3-4.289-4.289H5.144A2.151,2.151,0,0,1,3,18.011V5.144A2.151,2.151,0,0,1,5.144,3Zm15.011,7.505H7.289V12.65H20.155Zm-8.577,5.361h8.577V13.722H11.577ZM7.289,9.433H20.155V7.289H7.289Z' transform='translate(11.278 11.278)' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    text-indent: -999px;    
}

.btn-more {
    /* text  style */
    font-family: '나눔명조', "SimSun-ExtB";
    font-size: 15px;
    font-weight: 900;
    color: #B19D74;
    text-decoration: none;

    /* content box style */
    width: 100%;
    height: 45px;
    border: 1px solid #B19D74;
    border-radius: 5px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5.09' height='9.425' viewBox='0 0 5.09 9.425'%3E%3Cpath id='패스_75' data-name='패스 75' d='M117.85,4.454l4.36-4.347a.365.365,0,0,1,.516.517l-4.1,4.089,4.1,4.089a.365.365,0,0,1-.516.517l-4.36-4.347a.365.365,0,0,1,0-.517Z' transform='translate(122.833 9.426) rotate(180)' fill='%23b19d74'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: right 40% center;
    

    /* layout */
    display: flex;
    align-items: center;
    justify-content: center;

    /* transition */
    transition: 0.6s;
}

    .btn-more:hover {
        /* content box style */
        /* font-size: 17px; */
    }

/* ----- location -------------------------------- */
.img-btn-map-full-screen {
    /* text style */
    text-indent: -999px;
    
    /* content box style */
    display: inline-block;
    background-image: url("data:image/svg+xml,%3Csvg id='Icon_material-zoom-out-map' data-name='Icon material-zoom-out-map' xmlns='http://www.w3.org/2000/svg' width='14.37' height='14.37' viewBox='0 0 14.37 14.37'%3E%3Cpath id='Icon_material-zoom-out-map-2' data-name='Icon material-zoom-out-map' d='M14.08,4.5l1.836,1.836L13.609,8.627l1.134,1.134,2.291-2.307L18.87,9.29V4.5ZM4.5,9.29,6.336,7.454,8.627,9.761,9.761,8.627,7.454,6.336,9.29,4.5H4.5Zm4.79,9.58L7.454,17.033l2.307-2.291L8.627,13.609,6.336,15.916,4.5,14.08v4.79Zm9.58-4.79-1.836,1.836-2.291-2.307-1.134,1.134,2.307,2.291L14.08,18.87h4.79Z' transform='translate(-4.5 -4.5)' fill='%23707070'/%3E%3C/svg%3E%0A");
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-position: center;
    width: 28px;
    height: 28px;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);

    /* effect */
    cursor: pointer;
}

.btn-map-zoom {
    width: 69px;
    height: 31px;
    border-radius: 5px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    background-color: #FFFFFF;

    /* effect */
    cursor: pointer;
}

    .btn-map-zoom>span {
        /* text style */
        text-indent: -999px;
        
        /* content box style */
        display: inline-block;
        background-repeat: no-repeat;
        background-position: center;
        overflow: hidden;
        width: 15px;
        height: 15px;
        padding-left: 16px;
        margin-top: 6px;
        padding-top: 2px;
        padding-bottom: 2px;
    }
    
    .btn-map-zoom .img-btn-zoom-out {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15.48' height='3.148' viewBox='0 0 15.48 3.148'%3E%3Cg id='Icon_awesome-minus' data-name='Icon awesome-minus' transform='translate(0.5 0.5)'%3E%3Cpath id='Icon_awesome-minus-2' data-name='Icon awesome-minus' d='M13.446,4.062H1.034C.463,4.062,0,4.383,0,4.779v.716c0,.4.463.716,1.034.716H13.446c.571,0,1.034-.321,1.034-.716V4.779C14.48,4.383,14.017,4.062,13.446,4.062Z' transform='translate(0 -4.063)' fill='%236b6b6b' stroke='%236b6b6b' stroke-width='1'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
    
    .btn-map-zoom .img-btn-zoom-in {
        background-image: url("data:image/svg+xml,%3Csvg id='Icon_awesome-plus' data-name='Icon awesome-plus' xmlns='http://www.w3.org/2000/svg' width='13.53' height='13.53' viewBox='0 0 13.53 13.53'%3E%3Cpath id='Icon_awesome-plus-2' data-name='Icon awesome-plus' d='M.966,8.84H5.315v4.349a.967.967,0,0,0,.966.966h.966a.967.967,0,0,0,.966-.966V8.84h4.349a.967.967,0,0,0,.966-.966V6.907a.967.967,0,0,0-.966-.966H8.215V1.591A.967.967,0,0,0,7.248.625H6.282a.967.967,0,0,0-.966.966V5.94H.966A.967.967,0,0,0,0,6.907v.966A.967.967,0,0,0,.966,8.84Z' transform='translate(0 -0.625)' fill='%236b6b6b'/%3E%3C/svg%3E%0A");
        border-left: 0.5px solid #A9A9A9;
    }

.btn-detail {
    /* text  style */
    font-family: 'Sitka Heading', "SimSun-ExtB";
    font-size: 13px;
    font-weight: bold;
    color: #5782B9;
    text-decoration: none;

    /* content box style */
    border: 1px solid #707070;
    padding: 3px 6px;

     /* transition */
     transition: 0.6s;
}

.btn-detail:hover {
    color: #fff;
    
    background-color: #707070;
}

/* --------------------------------------------------- */
.btn-user-reservation,
.btn-login,
.btn-search-password,
.btn-search-id {
    /* text style */
    font-family: '나눔스퀘어라운드', "Minion Pro";
    font-weight: bold;
    font-size: 15px;
    color: #A9A9A9;
}

.btn-submit,
.btn-go_to-login {
    /* text style */
    font-family: 'Montserrat', "Minion Pro";
    font-weight: 600;
    font-size: 13px;
    color: #FFFFFF;

    /* content box style */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 53px;
    border: none;
    border-radius: 52px;
    background-color: #B19D74;
    transition: 0.4s;
    cursor: pointer;
}

.btn-submit:hover,
.btn-go_to-login:hover {
    background-color: #977E4B;
}


.btn-reset {
    /* text style */
    font-family: 'Montserrat', "Minion Pro";
    font-weight: 600;
    font-size: 14px;
    color: #707070;

    /* content box style */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 108px;
    height: 48px;
    border: 2px solid #977E4B;
    border-radius: 52px;
    background-color: transparent;
    transition: 0.4s;
    cursor: pointer;
}



.img-btn-naver {
    /* text  style */
    text-indent: -999px;

    /* content box style */
    background-image: url("/images/sns-icon/naver-icon.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
    width: 59px;
    height: 59px;
    display: inline-block;
    overflow: hidden;  
}

.img-btn-kakao {
    /* text  style */
    text-indent: -999px;

    /* content box style */
    background-image: url("/images/sns-icon/kakaotalk-icon.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    width: 56px;
    height: 56px;
    display: inline-block;
    overflow: hidden;  
}

.img-btn-google {
    /* text  style */
    text-indent: -999px;

    /* content box style */
    background-image: url("/images/sns-icon/google-icon.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
    width: 63px;
    height: 63px;
    display: inline-block;
    overflow: hidden;
}


/* ------- rooms -------------------------------------- */
.btn-select-schedule  {
    /* text style */
    font-family: '나눔스퀘어라운드';
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;

    /* content box style */
    width: 262px;
    height: 41px;
    background-color: #B19D74;
    border-radius: 10px;

    /* layout */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------- room/detail -------------------------------------- */


.img-btn-left-arrow {
    /* text  style */
    text-indent: -999px;

    /* content box style */
    display: flex;
    background-image: url("data:image/svg+xml,%3Csvg id='Icon_metro-chevron-thin-left' data-name='Icon metro-chevron-thin-left' xmlns='http://www.w3.org/2000/svg' width='12.445' height='23.265' viewBox='0 0 12.445 23.265'%3E%3Cpath id='Icon_metro-chevron-thin-left-2' data-name='Icon metro-chevron-thin-left' d='M22.288,25.368a.942.942,0,0,1,0,1.324.92.92,0,0,1-1.311,0L10.387,16a.942.942,0,0,1,0-1.324l10.591-10.7a.921.921,0,0,1,1.311,0,.942.942,0,0,1,0,1.324L12.629,15.334l9.659,10.034Z' transform='translate(-10.115 -3.701)' fill='%23a9a9a9'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: left center;
    width: 13px;
    height: 23.27px;
    overflow: hidden;
    /* padding-left: 30px; */

    /* effect */
    cursor: pointer;
}

.img-btn-left-arrow:hover {
    opacity: 0.7;
}

.img-btn-right-arrow {
    /* text  style */
    text-indent: -999px;

    /* content box style */
    display: flex;
    background-image: url("data:image/svg+xml,%3Csvg id='Icon_metro-chevron-thin-right' data-name='Icon metro-chevron-thin-right' xmlns='http://www.w3.org/2000/svg' width='12.165' height='22.742' viewBox='0 0 12.165 22.742'%3E%3Cpath id='Icon_metro-chevron-thin-right-2' data-name='Icon metro-chevron-thin-right' d='M21.391,15.072l-9.442-9.81a.921.921,0,0,1,0-1.294.9.9,0,0,1,1.281,0L23.583,14.423a.921.921,0,0,1,0,1.294L13.23,26.173a.9.9,0,0,1-1.281,0,.921.921,0,0,1,0-1.294l9.442-9.806Z' transform='translate(-11.683 -3.7)' fill='%23a9a9a9'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: right center;
    width: 13px;
    height: 23.27px;
    overflow: hidden;
    /* padding-left: 30px; */

     /* effect */
     cursor: pointer;
}

.img-btn-right-arrow:hover {
    opacity: 0.7;
}


/* ------- admin -------------------------------------- */


.btn-admin-edit {
    /* text style */
    font-family: 'Minion Pro';
    font-size: 13px;
    font-weight: bold;
    color: #1E3146;
    
    /* layout */
    width: 67px;
    height: 25px;
    background-color: #EEEEEE;
    border: 1px solid #BFBFBF;
    border-radius: 25px;
     display: flex;
     align-items: center;
     justify-content: center;

    /* effect */
    cursor: pointer;
    transition: 0.4s;
}

.btn-admin-edit:hover {
    background-color: rgb(192, 204, 212);
}

/* ---------------pencil------------------ */
.btn-pencil {
    /* text  style */
    text-indent: -999px;

    /* content box style */
    background-image: url("data:image/svg+xml,%3Csvg id='Icon_material-edit' data-name='Icon material-edit' xmlns='http://www.w3.org/2000/svg' width='13.406' height='13.406' viewBox='0 0 13.406 13.406'%3E%3Cpath id='Icon_material-edit-2' data-name='Icon material-edit' d='M4.5,15.11V17.9H7.292l8.236-8.236L12.736,6.874Zm13.188-7.6a.742.742,0,0,0,0-1.05L15.945,4.714a.742.742,0,0,0-1.05,0L13.533,6.077l2.792,2.792Z' transform='translate(-4.5 -4.496)' fill='%23707070'/%3E%3C/svg%3E%0A");    
    background-repeat: no-repeat;
    background-position: right top;
    width: 27px;
    height: 15.75px;
    display: inline-block;
    overflow: hidden;
}

/* -----------------reserv-confirm/check-detail 버튼--------------- */
.btn-font-blue, .btn-font-white{

    width: 120px;
    height: 40px;
    border-radius: 12px 15px 12px 15px;
    
    font-family: 'NanumSquareRound','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: bold;

}
    .btn-font-blue{
        color: #446FA9;
        border: 1px solid #446FA9;
        background-color: white;
    }

    .btn-font-white{
        color: white;
        border: 1px solid white;
        background-color: #446FA9;
    }