/* 저작자: 김수하 */
@media screen and (min-width: 1120px) {
   
/* ====== btn style ==================================================== */
    .btn-search {
        /* text style */
        font-size: 20px;

        /* content box style */
        width: 25%;
        height: 53px;
        padding: 0 41px;
    }

/* ======= layout ============================================ */
    /* 각 방들의 너비를 1080px로 한정 */
    body {
        /* content box style */
        background-color: #FFFFFF;

        /* item layout */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    body>* {
        /* layout */
        width: 1080px;
    }
    
    .header {
        /* layout */
        height: 90px;
    }

    .header-title {
        /* content box style */
        width: 100%;
        background-position: center;
        background-size: 198px 90px;
    }
    
    .header-bottom-bg-box {
        /* content box style */
        width: 100%;
        height: 800px;

        /* layout */
        display: flex;
        justify-content: center;
    }
    
    .header-bottom-bg-box section {
        /* layout */
        width: 1080px;
        /* height: 60px; */
    }
    
    .header-bottom-bg-box section .today {
        /* text style */
        font-size: 60px;
        bottom: 180px;
    }

    .header-bottom-bg-box section .temperature {
        /* text style */
        font-size: 36px;  
    }

    .header-bottom-bg-box section .weather {
        /* content box style */
        bottom: 100px;
    }

    .header-bottom-bg-box section .img-weather {
        /* content box style */
        width: 36px;
        height: 36px;
        background-size: 36px 36px;
    }

    .header-bottom-bg-box section .book-a-room {
        bottom: 112px;
        background-size: 8px;
        padding-right: 20px;
    }
    
    .header-bottom-bg-box section .book-a-room a {
        /* text style */
        font-size: 26px;
    }

    /* -------- simple-search --------------------------------------- */
    .simple-search {
        /* content box style */
        height: 117px;
        width: 1080px;
        top: -50px;
    }
    
    .simple-search form {
        /* layout */
        padding: 32px 35px 32px 35px;
        margin: 0;
        flex-direction: row;
        justify-content: space-evenly;
    }


    .chat {
        /* layout */
        left: 90%;
    }

    /* -------- introduce --------------------------------------- */
    .introduce {
        /* layout */
        border-bottom: none;
        padding: 0;

    }
    
    .introduce div {
        /* content box style */
        width: 1080px;
        height: 496px;
        order: 1;
        margin-top: 60px;

        /* item layout */
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: repeat(1fr);
        column-gap: 15px;
        row-gap: 15px;
    }

    .introduce div img:nth-child(1) {
        grid-area: 1/1/3/2;
    }
    
    .introduce div img:nth-child(2) {
        display: block;
        grid-area: 1/2/2/3;

    }
    
    .introduce div img:nth-child(3) {
        display: block;
        grid-area: 2/2/3/3;
    }

    .introduce p {
        margin-top: 35px;
    }

    /* -------- facilities --------------------------------------- */
    
    .facilities {
        padding-top: 150px;
    }

    .facilities-box {
        width: 100%;
        display: flex;
        margin-top: 46px;
    }
    
    .facilities-list {
        border-bottom: none;
    }
   

    /* -------- services --------------------------------------- */
    .services {
        padding-top: 140px;
        padding-bottom: 0;
        border-bottom: none;
    }

    .services ul {
        /* content box style */
        width: 1080px;
        margin-top: 50.8px;
        
        /* item layout */
        justify-content: space-around;
        flex-wrap: nowrap;
    }

    .services ul li {
        /* text style */
       font-size: 17px;
        
       /* content box style */
       width: 136px;
       padding-top: 70px;
    }

    .services ul li:nth-child(3),
    .services ul li:last-child {
        margin-top: 0;
    }

    
    /* -------- rooms --------------------------------------- */
    .rooms {
        /* layout */
        /* height: 750px; */
        /* padding: 0; */
        padding-top: 151px;

        
        /* utils */
        border-top: none;
    }

    .rooms .rooms-list {
        margin-top: 40px;
    }

    .rooms-list>ul>li {
        margin-right: 10px;
        width: 25%;
        box-sizing: border-box;
        flex-shrink: 1;
    }

    .rooms-list>ul>li:last-child {
        margin-right: 0;
    }

    .rooms .more {
        /* content box style */
        margin-top: 60px;

        /* item layout */
        display: flex;
        justify-content: center;
    }
    
    /* -------- gallery --------------------------------------- */
    .gallery {
        /* layout */
        /* width: 1080px; */
        margin-top: 151px;        
    }
    
    .gallery ul {
        /* layout */
        /* width: 1080px; */
        height: 600px;
        display: grid;
        grid-template-columns: 4fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        row-gap: 11px;
    }

    .gallery ul li:nth-child(1) {
        grid-area: 1/1/4/2;
    }

   

    /* -------- review --------------------------------------- */
    .review {
        /* layout */
        width: 1080px;
        margin-top: 151px;
        border-top: none;
    }

    .review .review-full-list {
        margin-top: 40px;
        justify-content: center;
    }

    .review .review-full-list .review-list {
        height: 200px;
        margin-left: 31.5px;
    }

    .review .review-full-list .review-list:first-child {
        margin-left: 0;
    }

    .review-list .review-id {
        font-size: 18px;
    }

    .review .review-btn-more {
        /* content box style */
        margin-top: 60px;
    }



/* ====== content block ============================================== */

    /* -------- simple-search --------------------------------------- */
    .simple-search form .select-date {
        /* content box style */
        padding-right: 35px;
        margin-right: 40px;
        border-bottom: none;
        border-right: 1px solid #F0F0F0;
    }

    .simple-search form .select-num {
        margin-right: 40px;
    }

    
    .simple-search form .select-date div {
        /* layout */
        /* width: 300px; */
        /* height: 150px; */
    }

    .select-date div input {
        /* layout */
        height: 100%;
    }

    .simple-search form .select-num div {
        /* layout */
        /* height: 50px; */
    } 

    .simple-search form .select-date .check-out input {
        margin-left: 50px;
        background-position: left 20px center;
    }

    
    /* -------- introduce --------------------------------------- */
    .introduce .introduce-title {
        /* text style */
        font-size: 40px;
    }
    
    .introduce div {
        /* layout */
    }
    
    .introduce img {
        /* layout */
        width: 100%;
        height: 100%;
    }

    .introduce p {
        /* text style */
        font-size: 20px;
    }

    /* -------- facilities --------------------------------------- */


    .facilities-list {
        /* content box style */
        /* width: 600px;
        height: 250px; */
        padding-right: 31.5px;
    }

    .facilities-list:last-child {
        padding-right: 0;
    }

    .facilities-list h1 {
        /* font-size: 18px; */
        background-position: right top 7px;
    }
    
    .facilities-list p {
        font-size: 16px;
    }

    /* -------- gallery --------------------------------------- */
    .gallery>ul>li {
        /* width: 200px; */
        /* height: auto; */
        /* margin-left: 35px; */
    }


/* ----------------------------------------------- */

    .facilities-title,
    .services-title,
    .rooms-title,
    .gallery-title,
    .review-title,
    .location-title {
        font-size: 40px;
    }

    .rooms-title::after,
    .gallery-title::after,
    .review-title::after {
        padding: 0 90px;
        padding-bottom: 70px;
    }   

    /* ------- footer -------------------------------------- */


    .footer {
        /* content box style */
        padding-left: 50px;
        padding-right: 50px;
        margin-top: 180px;
    }
    
    .footer .footer-box {
    /* content box style */
        width: 1080px;

    }
}