/* 저작자: 김수하 */

@media screen and (min-width: 400px) {
    .header-bottom-bg-box .img-box img {
        object-position: 0;
    }
}

@media screen and (min-width: 450px) {
    
    /* -------- facilities --------------------------------------- */
    .facilities {
        height: 800px;
    }

    /* -------- rooms --------------------------------------- */
    .rooms {
        height: 400px;
    }
}

@media screen and (min-width: 540px) {

    .header-bottom-bg-box {
        /* height: 400px; */
    }

    
    /* -------- facilities --------------------------------------- */
    .facilities {
        height: 1000px;
    }
    

    /* -------- rooms --------------------------------------- */
        .rooms {
            height: 500px;
        }
    
        .rooms .img-box img {
            object-position: center;
        }



    /* -------- review --------------------------------------- */
        .review {
            height: 500px;
        }

        .review .review-full-list {
            height: 100%;
            margin-top: 0;
        }

}

@media screen and (min-width: 700px) {
    
    .header-bottom-bg-box {
        height: 450px;
    }



    /* -------- facilities --------------------------------------- */
    .facilities {
        height: 1500px;
    }
    
    .facilities-list {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50px 80px;
        
    }


    
    /* -------- rooms --------------------------------------- */
    .rooms {
        height: 700px;
    }
    
    .rooms-list {
        width: 250px;
        height: 300px;
    }
    
    
    
    /* -------- gallery --------------------------------------- */

    .gallery {
        /* layout */
        height: 250px;
    }

    .gallery ul {
        /* layout */
        margin-top: 80px;
        position: static;   /* position 초기화 */

        /* item layout */
        justify-content: center;
    }
    
    .gallery>ul>li {
        width: 160px;
        height: auto;
        margin-left: 20px;
    }

    .gallery>ul>li:first-child {
        margin-left: 0px;
    }

    /* -------- review --------------------------------------- */
    .review {
        height: 650px;
    }
    
    
    
    /* ====== content block ============================================== */
    
    /* -------- facilities --------------------------------------- */

    .facilities-list {
        /* content box style */
        width: 500px;
        height: 200px;
        padding: 40px;
    }

    .facilities-list h1 {
        font-size: 24px;
    }
    
    .facilities-list p {
        font-size: 12px;
    }


    /* -------- rooms --------------------------------------- */
    
    .rooms-list>ul>li>a {
        font-size: 17px;
    }
    
    .rooms .btn-more {
        font-size: 15px;
    }
    
    /* -------- review --------------------------------------- */
    
    .review .btn-more {
        font-size: 15px;
    }

}