/* 저작자: 김수하 */
/* ======reset style====================================== */

body,
h1 {
    margin: 0;
}

a {
    text-decoration: none;
}

ul, ol{
    /* layout */
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

fieldset {
    border: none;
}