/* 저작자: 김수하 */
.header h1 {
    /* text style */
    font-family: 'Montserrat';
    font-size: 17px;
    font-weight: 600;
    color: #FFFFFF;
}


/*  -------------------------------------------------- */