@import url(/css/reset.css);
@import url(/css/utils.css);
@import url(/css/style.css);
@import url(/css/buttons.css);
@import url(/css/svg.css);

/* ====== btn style ==================================================== */
.img-btn-go-back {
    /* layout */
    margin-left: 30px;
}

.img-btn-menu {
    /* layout */
    margin-right: 21px;
}

/* ====== outer block ================================================== */

/* -------- header --------------------------------------- */
.header {
    /* layout */
    display: flex;
    flex-direction: column-reverse;
    padding-top: 73px;
    /* align-items: center; */
}

.header div {
    /* layout */
    background-color: rgba(67, 106, 129, 0.6);
    width: 100%;
    height: 73px;
    position: fixed;
    z-index: 999;
    top: 0;

    /* items layout */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.reserv-detail .reserv-info ul li:last-child {
    /* item layout */
    display: grid;
    /* height: 100px; */
    grid-template-columns: 90px auto;
    grid-template-rows: repeat(3, 30px);
    row-gap: 7px;
    box-sizing: border-box;
}

.reserv-detail .reserv-info ul li:last-child span {
    padding: 0;
}

.reserv-detail .reserv-info ul li:last-child span:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/4;
    padding: 15px 0 16px 0;
}

.reserv-detail .reserv-info ul li:last-child span:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-left: 25px;
    align-self: center;
}

.reserv-detail .reserv-info ul li:last-child span:nth-child(3) {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-left: 25px;
    align-self: center;
}

.reserv-detail .reserv-info ul li:last-child span:nth-child(4) {
    grid-column: 2/3;
    grid-row: 3/4;
    margin-left: 25px;
    align-self: center;
}

.reserv-detail form .btn-box {
    background-color: #E6EEF2;
    display: flex;
    padding: 18px 0;
    justify-content: space-evenly;
}




/* ======= content block ========================================= */


.header h1 {
    /* text style */
    font-family: 'Montserrat';
    font-size: 19px;
    font-weight: bold;
    color: #1E3146;

    /* layout */
    background-color: rgba(67, 106, 129, 0.25);
    padding: 16px 0 20px 47px;
}

.reserv-detail>h1 {
    /* text style */
    font-family: '나눔스퀘어라운드';
    font-size: 17px;
    font-weight: bold;
    color: #436A81;

    /* layout */
    padding: 13px 0 13px 47px;
    background-color: #E6EEF2;
}

.reserv-info>h1, .room-info h1, .customer-info h1 {
    /* text style */
    font-family: '나눔스퀘어라운드';
    font-size: 15px;
    font-weight: bold;
    color: #436A81;

    /* layout */
    padding: 12px 0 12px 49px;
    background-color: #E1E7EA;
}


section ul li {
    /* layout */
    border-bottom: 1px solid #A9A9A9;   
    display: flex;
}

section ul li:last-child {
    /* layout */
    border: none;
}

section ul li span {
    /* layout */
    padding: 15px 0 16px 0;
    /* display: flex; */
    /* flex-direction: row; */
    /* align-items: center; */
    /* padding: 15px 25px 17px 25px; */
}

section ul li span:first-child {
    width: 90px;
    display: flex;
    align-items: center;
    border-right: 1px solid #A9A9A9;
    justify-content: center;
}

section ul li span:nth-child(2) {
    margin-left: 25px;
}


.reserv-info ul li span, .room-info ul li span, .customer-info li span {
    /* text style */
    font-family: 'Minion Pro';
    font-size: 13px;
    font-weight: bold;
    color: #707070;
}

.reserv-info ul li:last-child span:nth-child(2),
.reserv-info ul li:last-child span:nth-child(3) {
    font-weight: normal;
}


