/* 저작자 : 조영인 */
/* === layout =========================================*/
/* --- header -----------------------------------------*/
.header{
    /* layout */
    height: 194px;

    /* item layout */
    display: flex;
    flex-direction: column;
}

/* --- profile -----------------------------------------*/
.profile{
    /* layout */
    height: 167px;
}

/* --- service-list -----------------------------------------*/
.service-list{
    /* layout */
    height: 304px;
}

/* === content block ==================================*/
/* --- header -----------------------------------------*/
.header{
    background-image: url(../../images/ocean-wave.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    /* box style */
    border-radius: 0 0 0 80px;
}

    .header::after{
        /* lyaout */
        background-color: #fff;
        opacity: 0.15;
        content: "";

        display: inline-block;
        width: 100%;
        height: 194px;
        border-radius: 0 0 0 80px;

        position: absolute;
        top: 0;
    }


    .header>h1{
        /* text */
        font-family: "Montserrat";
        font-size: 19px;
        font-weight: 700;
        color: #fff;

        /* layout*/
        order: 1;
        margin-top: 51px;
        align-self: center;
    }

    .header>div{
        /* layout */
        background-color: rgba(0, 0, 0, 0.2);
        height: 73px;
        padding-top: 29px;
        padding-left: 31px;
        padding-right: 21.5px;
        box-sizing: border-box;

        /* item layout */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

        .header>div>a:first-child{
            background-image: url("data:image/svg+xml,%3Csvg id='Icon_ionic-ios-arrow-back' data-name='Icon ionic-ios-arrow-back' xmlns='http://www.w3.org/2000/svg' width='13.503' height='23.619' viewBox='0 0 13.503 23.619'%3E%3Cpath id='Icon_ionic-ios-arrow-back-2' data-name='Icon ionic-ios-arrow-back' d='M15.321,18l8.937-8.93a1.688,1.688,0,0,0-2.391-2.384L11.742,16.8a1.685,1.685,0,0,0-.049,2.327L21.86,29.32a1.688,1.688,0,0,0,2.391-2.384Z' transform='translate(-11.251 -6.194)' fill='%23fff'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;

            text-indent: -9999px;

            /* box style */
            display: inline-block;
            width: 13.5px;
            height: 23.6px;
        }

        .header>div>a:nth-child(2){
            background-image: url("data:image/svg+xml,%3Csvg id='Icon_ionic-ios-menu' data-name='Icon ionic-ios-menu' xmlns='http://www.w3.org/2000/svg' width='27' height='15.75' viewBox='0 0 27 15.75'%3E%3Cpath id='패스_1' data-name='패스 1' d='M30.375,12.375H5.625A1.128,1.128,0,0,1,4.5,11.25h0a1.128,1.128,0,0,1,1.125-1.125h24.75A1.128,1.128,0,0,1,31.5,11.25h0A1.128,1.128,0,0,1,30.375,12.375Z' transform='translate(-4.5 -10.125)' fill='%23e6eef2'/%3E%3Cpath id='패스_2' data-name='패스 2' d='M30.375,19.125H5.625A1.128,1.128,0,0,1,4.5,18h0a1.128,1.128,0,0,1,1.125-1.125h24.75A1.128,1.128,0,0,1,31.5,18h0A1.128,1.128,0,0,1,30.375,19.125Z' transform='translate(-4.5 -10.125)' fill='%23e6eef2'/%3E%3Cpath id='패스_3' data-name='패스 3' d='M30.375,25.875H5.625A1.128,1.128,0,0,1,4.5,24.75h0a1.128,1.128,0,0,1,1.125-1.125h24.75A1.128,1.128,0,0,1,31.5,24.75h0A1.128,1.128,0,0,1,30.375,25.875Z' transform='translate(-4.5 -10.125)' fill='%23e6eef2'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;

            text-indent: -9999px;

            /* box style */
            display: inline-block;
            width: 27px;
            height: 15.7px;
        }
/* --- profile -----------------------------------------*/
.profile>div{
    /* item layout */
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .profile>div>img{
        /* layout */
        width: 87px;
        height: 87px;
        border-radius: 50px;
        border: 1px solid #707070;

        margin-top: 39px;
    }

    .profile>div>span{
        /* text */
        font-family: "Minion Pro";
        font-size: 17px;
        font-weight: bold;
        color: #436A81;

        /* layout */
        margin-top: 18px;
    }

/* --- service-list -----------------------------------*/
.service-list ul{
    /* layout */
    margin-top: 45px;

    /* item layout */
    display: flex;
    flex-direction: column;
}
    .service-list ul>li{
        /* box style*/
        height: 60px;
        border-bottom: 1px solid #A9A9A9;

        /* item layout */
        display: grid;
        grid-template: 
            "padding1 menu-name link padding2" 60px 
            / 1fr 360px 30px 1fr;
    }

        .service-list ul>li>span{
            /* text */
            font-family: "Minion Pro";
            font-size: 15px;
            font-weight: normal;

            line-height: 60px;

            /* layout */
            grid-area: menu-name;
            padding-left: 90px;
        }

        .service-list ul>li:first-child>span{
            /* layout */
            background-image: url("data:image/svg+xml,%3Csvg id='Icon_awesome-bed' data-name='Icon awesome-bed' xmlns='http://www.w3.org/2000/svg' width='33.133' height='19.88' viewBox='0 0 33.133 19.88'%3E%3Cpath id='Icon_awesome-bed-2' data-name='Icon awesome-bed' d='M9.112,14.44A4.142,4.142,0,1,0,4.97,10.3,4.146,4.146,0,0,0,9.112,14.44ZM27.335,7.813h-11.6a.828.828,0,0,0-.828.828V16.1H3.313V5.328A.828.828,0,0,0,2.485,4.5H.828A.828.828,0,0,0,0,5.328V23.552a.828.828,0,0,0,.828.828H2.485a.828.828,0,0,0,.828-.828V21.067H29.82v2.485a.828.828,0,0,0,.828.828H32.3a.828.828,0,0,0,.828-.828v-9.94A5.8,5.8,0,0,0,27.335,7.813Z' transform='translate(0 -4.5)' fill='%23707070'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-position: 36px center;
            background-size: 33.1px 19.8px;
        }

        .service-list ul>li:nth-child(2)>span{
            /* layout */
            background-image: url("data:image/svg+xml,%3Csvg id='Icon_material-room-service' data-name='Icon material-room-service' xmlns='http://www.w3.org/2000/svg' width='33.3' height='23.31' viewBox='0 0 33.3 23.31'%3E%3Cpath id='Icon_material-room-service-2' data-name='Icon material-room-service' d='M.833,22.063h33.3v3.33H.833ZM20.547,6.729a3.435,3.435,0,0,0,.266-1.315,3.33,3.33,0,0,0-6.66,0,3.435,3.435,0,0,0,.266,1.315A15,15,0,0,0,2.5,20.4h29.97A15,15,0,0,0,20.547,6.729Z' transform='translate(-0.833 -2.083)' fill='%236b6b6b'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-position: 36px center;
            background-size: 33.3px 23.3px;
        }

        .service-list ul>li:nth-child(3)>span{
            /* layout */
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29.068' height='28.883' viewBox='0 0 29.068 28.883'%3E%3Cg id='icons_light_user' data-name='icons/light/user' transform='translate(0.343 0.75)'%3E%3Crect id='사각형_519' data-name='사각형 519' width='27.974' height='27.974' transform='translate(0 0.159)' fill='%23fff' opacity='0'/%3E%3Cg id='그룹_762' data-name='그룹 762' transform='translate(-1.593 -5)'%3E%3Cpath id='패스_241' data-name='패스 241' d='M31.568,24.878V21.585A6.744,6.744,0,0,0,24.676,15H10.892A6.744,6.744,0,0,0,4,21.585v3.293' transform='translate(-2 7.001)' fill='%23707070' stroke='%23707070' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'/%3E%3Ccircle id='타원_73' data-name='타원 73' cx='6.5' cy='6.5' r='6.5' transform='translate(9.081 5)' fill='%23707070' stroke='%23707070' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-position: 38.6px center;
            background-size: 27.9px 28.1px;
        }

        .service-list ul>li:nth-child(4)>span{
            /* layout */
            background-image: url("data:image/svg+xml,%3Csvg id='Icon_awesome-question' data-name='Icon awesome-question' xmlns='http://www.w3.org/2000/svg' width='19.958' height='29.037' viewBox='0 0 19.958 29.037'%3E%3Cpath id='Icon_awesome-question-2' data-name='Icon awesome-question' d='M11.805,0A10.988,10.988,0,0,0,2.045,5.162a1.363,1.363,0,0,0,.294,1.864L4.785,8.882a1.361,1.361,0,0,0,1.886-.235c1.421-1.78,2.474-2.8,4.693-2.8,1.745,0,3.9,1.123,3.9,2.815,0,1.279-1.056,1.936-2.779,2.9-2.009,1.126-4.667,2.528-4.667,6.035v.555a1.361,1.361,0,0,0,1.361,1.361h4.11a1.361,1.361,0,0,0,1.361-1.361v-.327c0-2.431,7.1-2.532,7.1-9.11C21.758,3.758,16.619,0,11.805,0Zm-.568,21.18a3.929,3.929,0,1,0,3.929,3.929A3.933,3.933,0,0,0,11.237,21.18Z' transform='translate(-1.8)' fill='%23707070'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-position: 42.6px center;
            background-size: 19.9px 29px;
        }

        .service-list ul>li:nth-child(5)>span{
            /* layout */
            background-image: url("data:image/svg+xml,%3Csvg id='Icon_awesome-bell' data-name='Icon awesome-bell' xmlns='http://www.w3.org/2000/svg' width='24.81' height='28.355' viewBox='0 0 24.81 28.355'%3E%3Cpath id='Icon_awesome-bell-2' data-name='Icon awesome-bell' d='M12.405,28.355a3.544,3.544,0,0,0,3.543-3.544H8.862A3.544,3.544,0,0,0,12.405,28.355Zm11.928-8.291c-1.07-1.15-3.072-2.879-3.072-8.545a8.745,8.745,0,0,0-7.085-8.593V1.772a1.771,1.771,0,1,0-3.542,0V2.926a8.745,8.745,0,0,0-7.085,8.593c0,5.665-2,7.395-3.072,8.545A1.73,1.73,0,0,0,0,21.266a1.774,1.774,0,0,0,1.778,1.772H23.033a1.773,1.773,0,0,0,1.778-1.772A1.729,1.729,0,0,0,24.333,20.064Z' transform='translate(0)' fill='%23707070'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-position: 40.3px center;
            background-size: 24.8px 28.3px;
        }

        .service-list ul>li>a{
            /* text */
            overflow: hidden;
            text-indent: -9999px;

            /* layout */
            grid-area: link;
            margin-top: 25px;

            display: inline-block;
            width: 20px;
            height: 20px;

            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12.561' height='22.122' viewBox='0 0 12.561 22.122'%3E%3Cpath id='Icon_feather-chevron-right' data-name='Icon feather-chevron-right' d='M13.5,26.88l8.94-8.94L13.5,9' transform='translate(-11.379 -6.879)' fill='none' stroke='%23707070' stroke-linecap='round' stroke-linejoin='round' stroke-width='3'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
