/* 저작자 : 조영인 */
/* === layout ============================================== */
/* --- body ---------------------------------------------*/
body{
    background-color: #F1F0F2;
}

/* --- header ----------------------------------------- */
.header{
    position: fixed;

    width: 100%;
    height: 50px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* --- modification -------------------------------- */
.modification{
    display: flex;
    flex-direction: column;
}

/* === Content block ============================================== */
/* --- header ----------------------------------------- */
.header>h1{
    /* font style */
    font-family: "Montserrat";
    font-size: 15px;
    font-weight: 700;
    color: #fff;

    /* layout */
    margin-top: 25px;
}

.header>div{
    order: -1;
    position: absolute;
    top: 25px;
    left: 31px;
}

/* --- modification ----------------------------------------- */
.modification>div{
    padding-top: 73px;
    height: 360px;
    background-color: #5782B9;
    border-radius: 0 0 0 60px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

    .modification>div>img{
        /* layout */
        width: 100px;
        height: 100px;
        border-radius: 50px;
    }

    .modification>div>a{
        /* font style */
        font-family: "Montserrat";
        font-size: 14px;
        font-weight: 700;
        color: #fff;

        text-align: center;
        line-height: 100px;

        /* layout */
        background-color: rgba(0, 0, 0, 0.2);

        width: 100px;
        height: 100px;
        border-radius: 50px;

        position: relative;
        top: -100px;
    }

.modification>form{
    align-self: center;
    margin-top: -200px;
}

   .modification>form>fieldset{
        /* layout */
        width: 342px;
        height: 440px;
        background-color: #fff;
        border-radius: 60px;

        /* item layout*/
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .modification>form>fieldset>label{
            /* font style */
            font-family: "Montserrat";
            font-size: 14px;
            font-weight: normal;
            color: #707070;

            /* layout */
            margin-top: 16px;
            margin-left: 31px;
            align-self: flex-start;
        }

                
            .modification>form>fieldset>label:nth-child(2){
                margin-top: 23px;
            }

        .modification>form>fieldset>input{
            /* reset */
            border: none;

            /* font style */
            font-family: "Montserrat";
            font-size: 16px;
            font-weight: normal;

            line-height: 30px;

            /* layout */
            width: 277px;
            height: 30px;
            border-bottom: 1px solid #DDDDDD;

            margin-top: 15px;
        }

    .modification>form>button{
        /* font style */
        font-family: "Montserrat";
        font-size: 14px;
        font-weight: 700;
        color: #fff;

        /* layout */
        margin-top: 63.6px;

        border-radius: 82px;
        background-color: #5782B9;
        width: 342px;
        height: 52px;

        /* utils */
        cursor: pointer;
    }
