/* 작성자 : psh */
@import url(/css/reset.css);
@import url(/css/utils.css);
@import url(/css/style.css);
@import url(/css/buttons.css);
@import url(/css/svg.css);

/* ============== font================= */

.font-bold{
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    font-weight: bold;

    padding: 30px 0 10px 0;

}


.font-d{
    display: flex;
    font-size: 17px;
    font-weight: bold;

    justify-content: space-between;

    margin-bottom: 30px;
}


/* <!-- -----------윗부분 ----------------------------------- --> */
.img-btn-go-back {
    /* layout */
    margin-left: 30px;
}

.img-btn-menu {
    /* layout */
    margin-right: 21px;
}

/* ====== outer block ================================================== */

/* -------- header --------------------------------------- */
.header {
    /* layout */
    display: flex;
    flex-direction: column-reverse;

    /* layout */
    border-bottom-right-radius: 60px;
    height: 138px;
    background-image: url("../../images/ocean3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    /* item layout */
    display: flex;
    align-items: flex-start;
    position: relative;
}

.header h1{
    font-family: 'NanumSquareRound', sans-serif ,Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    color: #436A81;

    padding: 0 0 20px 20px;
    
}

.header div {
    /* layout */
    background-color: #0005;
    width: 100%;
    height: 73px;
    position: fixed;
    z-index: 999;
    top: 0;

    /* item layout */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    display: flex;
    align-items: center;
}

/* ------------------main body----------------- */
.main-body{
    height: 1200px;
    padding: 20px 20px;
}
/* -------------- main--------------------------------------- */

.sup-number{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 170px;
    align-items: center;
}

.sup-img{
    justify-self: right;    
}



/* ===================================================== */

.option{
    padding-left: 15px;
}



.non-res{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #436A81;
}
.bill{
    display: grid;
    grid-template-columns: 70px 150px;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-items: right;
    justify-content: space-between ;
    
}

.bill-category{
    justify-self: left;
    padding: 10px 0;
    
}



.btn-rev{
    position: relative;
    bottom: -30px;
    right: 10px;
    width: 100%;
    height: 100px;
    border-radius: 25px 25px 20px 20px;
    background-color: #B19D74;
    
    color: white;
    
}


.div-line{
    border-top: 1px solid #BFBFBF;
    margin: 20px 0;
    
}

.box-size{
    height: 60px;
    width: 100%;
}


.btn-body{
    display: flex;
    justify-content: center;
    padding: 100px 50px;
}


.btn-font-blue, .btn-font-white{

    width: 120px;
    height: 40px;
    border-radius: 12px 15px 12px 15px;
    
    font-family: 'NanumSquareRound','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: bold;

}
    .btn-font-blue{
        margin-right: 50px;
    }

    .btn-font-white{

    }


/* =============================footer========================== */

.footer{
    width: 100%;
    height: 130px;
    display: grid;

    grid-template-columns: 100px 1fr;
    align-items: center;

    background-color: #E6EFF2;
    width: 100%;
    height: 125px;
}

.footer>div>img{ 
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.footer-text>*{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 11px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 20px;
}
.footer-text>div{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    
}