/* 저작자 : 조영인 */
/* === layout block ======================= */
/* --- body ------------------------------- */
body{
    /* layout */
    background-color: rgba(0, 0, 0, 0.72);
    height: 100vh;
    width: 100vw;

    /* item layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* --- cancel-room ------------------------- */
.cancel-room{
    /* layout */
    background-color: #fff;
    display: inline-block;
    width: 328px;
    height: 360px;
    border-radius: 38px;

    /* item layout */
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* === content block ======================= */
/* --- cancel-room ------------------------- */
.cancel-room>p{
    /* text */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: normal;

    /* layout */
    margin-top: 74px;
}

.cancel-room>div:nth-child(n+2):nth-child(-n+3){
    /* layout */
    display: inline-block;
    width: 238px;
    height: 36px;

    /* item layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

    .cancel-room>div>span{
        /* text */
        font-family: "Minion Pro";
        font-size: 15px;
        font-weight: normal;
        color: #707070;
    }

    .cancel-room>div>a{
        /* text */
        text-indent: -9999px;

        /* layout */
        background-image: url("data:image/svg+xml,%3Csvg id='_-' data-name='-' xmlns='http://www.w3.org/2000/svg' width='29' height='29' viewBox='0 0 29 29'%3E%3Cg id='타원_81' data-name='타원 81' fill='%235782b9' stroke='%239599b3' stroke-width='1.5' opacity='0.207'%3E%3Ccircle cx='14.5' cy='14.5' r='14.5' stroke='none'/%3E%3Ccircle cx='14.5' cy='14.5' r='13.75' fill='none'/%3E%3C/g%3E%3Cg id='x' transform='translate(14.515 9.749) rotate(45)'%3E%3Cline id='선_280' data-name='선 280' x1='6.699' y2='6.699' fill='none' stroke='%23707070' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

        display: inline-block;
        width: 29px;
        height: 29px;

        margin-left: 42px;
    }

.cancel-room>div:nth-child(2){
    /* layout */
    margin-top: 29px;
}

.cancel-room>div:nth-child(3){
    /* layout */
    margin-top: 21px;
    background-color: rgba(169, 169, 169, 0.19);
}

.cancel-room button{
    /* text */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: normal;

    /* layout */
    margin-top: 48px;

    display: inline-block;
    width: 120px;
    height: 43px;

    background-color: #5782B9;
    border: 1px solid #5782B9;
    border-radius: 20px;

    /* utils */
    cursor: pointer;
}