/* 저작자: 김수하 */
@media screen and (min-width: 500px) {

    .header {
        height: 250px;
    }

    .admin-page-menu nav ul li {
        height: 55px;
    }

    .admin-page-menu nav h1 {
        height: 50px;
    }
}

@media screen and (min-width: 650px) {
    .header {
        height: 300px;
    }
}

@media screen and (min-width: 800px) {
    body {
        /* background-color: #E6EEF2; */
        /* background-color: #DEDEDE; */
        /* background-color: #B6BFC5; */
        /* background-color: transparent; */
        background-color: #cad5db;

        /* height: 100vw; */

    }

    body>* {
        width: 800px;
    }

    .header {
        height: 300px;
    }

    .admin-page-menu nav h1 {
        /* width: 100vw; */
        /* background-color: #DEDEDE; */
    }

    .admin-page-menu nav {
        align-self: center;
        width: 800px;
        /* width: 100%; */

    }

    .admin-page-menu nav ul li {
        /* height: 55px; */
    }

    .footer .footer-box {
        width: 800px;
        margin-left: 70px;
    }
}