/* 저작자: 김수하 */
@media screen and (min-width: 550px) {

    .header {
        height: 250px;
    }

    .admin-page-menu nav ul li {
        height: 55px;
    }

    .admin-page-menu nav h1 {
        height: 50px;
    }
}

@media screen and (min-width: 650px) {
    .header {
        height: 300px;
    }

    .header h1 {
        font-size: 21px;
    }

    .admin-page-menu nav ul li {
        height: 60px;
    }

    .admin-page-menu nav ul li a {
        font-size: 18px;
    }

    .admin-page-menu nav ul li a span {
        font-size: 18px;
    }

     .admin-page-menu nav ul li a span:nth-child(2), span:nth-child(3) {
        font-size: 18px;
    }

    .admin-page-menu nav h1 {
        height: 55px;
        font-size: 19px;
    }
}

@media screen and (min-width: 800px) {
    

    .header {
        height: 350px;
    }

    .header h1 {
        font-size: 23px;
    }


    .admin-page-menu nav ul li {
        height: 65px;
    }

    .footer .footer-box {
        width: 800px;
        margin-left: 70px;
    }
}