/* 저작자: 김수하 */
@import url(/css/reset.css);
@import url(/css/utils.css);
@import url(/css/user/style.css);
@import url(/css/buttons.css);


/* ====== btn style ================================================== */
/* 기존 버튼 스타일에서 덮어쓰기 */
.img-btn-menu {

    /* content box style */
    background-image: url("data:image/svg+xml,%3Csvg id='Icon_ionic-ios-menu' data-name='Icon ionic-ios-menu' xmlns='http://www.w3.org/2000/svg' width='27' height='15.75' viewBox='0 0 27 15.75'%3E%3Cpath id='패스_1' data-name='패스 1' d='M30.375,12.375H5.625A1.128,1.128,0,0,1,4.5,11.25h0a1.128,1.128,0,0,1,1.125-1.125h24.75A1.128,1.128,0,0,1,31.5,11.25h0A1.128,1.128,0,0,1,30.375,12.375Z' transform='translate(-4.5 -10.125)' fill='%23b19d74'/%3E%3Cpath id='패스_2' data-name='패스 2' d='M30.375,19.125H5.625A1.128,1.128,0,0,1,4.5,18h0a1.128,1.128,0,0,1,1.125-1.125h24.75A1.128,1.128,0,0,1,31.5,18h0A1.128,1.128,0,0,1,30.375,19.125Z' transform='translate(-4.5 -10.125)' fill='%23b19d74'/%3E%3Cpath id='패스_3' data-name='패스 3' d='M30.375,25.875H5.625A1.128,1.128,0,0,1,4.5,24.75h0a1.128,1.128,0,0,1,1.125-1.125h24.75A1.128,1.128,0,0,1,31.5,24.75h0A1.128,1.128,0,0,1,30.375,25.875Z' transform='translate(-4.5 -10.125)' fill='%23b19d74'/%3E%3C/svg%3E%0A");
    padding: 0;
}

.btn-go_to-login {
    /* text style */
    font-size: 14px;

    width: 186px;
    height: 49px;
}

/* ====== outer block ================================================== */
.find-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-bottom: 42px; */
}

.find-password .find-password-header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}


.find-password p {
    background-image: url("data:image/svg+xml,%3Csvg id='Icon_material-perm-identity' data-name='Icon material-perm-identity' xmlns='http://www.w3.org/2000/svg' width='73.924' height='73.924' viewBox='0 0 73.924 73.924'%3E%3Cpath id='Icon_material-perm-identity-2' data-name='Icon material-perm-identity' d='M42.962,14.779a9.7,9.7,0,1,1-9.7,9.7,9.7,9.7,0,0,1,9.7-9.7m0,41.582c13.722,0,28.184,6.746,28.184,9.7v5.082H14.779V66.063c0-2.957,14.461-9.7,28.184-9.7M42.962,6A18.481,18.481,0,1,0,61.443,24.481,18.476,18.476,0,0,0,42.962,6Zm0,41.582C30.626,47.582,6,53.774,6,66.063V79.924H79.924V66.063C79.924,53.774,55.3,47.582,42.962,47.582Z' transform='translate(-6 -6)' fill='%23bfbfbf'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center top;
    padding-top: 110px;
    margin-top: 42px;
}

.find-password>div {
    margin-top: 53px;
}


/* ====== content block ================================================== */

.find-password {
    padding-top: 98px;
}

