/* 저작자: 김수하 */
@import url(/css/reset.css);
@import url(/css/utils.css);
@import url(/css/user/style.css);
@import url(/css/buttons.css);

/* ====== btn style ================================================== */

/* ====== outer block ================================================== */
.user-reservation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .user-reservation-header {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }

    .user-reservation form {
        /* item layout */
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 58px;
    }

    .user-reservation form .user-reserv-info .phone-num {
        margin-top: 30px;
    }

    .user-reservation form textarea {
        margin-top: 27px;
    }

    .user-reservation form .info-collect-agree {
        display: flex;
        justify-content: center;
        margin: 0;
        margin-top: 12px;
    }

    .user-reservation form .info-collect-agree div {
        display: flex;
        align-items: center;
        width: 300px;
        justify-content: space-between;
    }

    .user-reservation form .btn-submit {
        margin-top: 34px;
    }




/* ======= content block ========================================= */
.user-reservation {
    padding-top: 98px;
}


.user-reservation .user-reserv-info div input {
    /* text style */
    font-family: 'Montserrat', "Minion Pro";
    font-weight: 500;
    font-size: 15px;

    /* content box style */
    width: 340px;
    height: 33px;
    border: none;
    border-bottom: 1px solid #DDDDDD;
}

.user-reservation form textarea {
    /* text style */
    font-family: 'Montserrat', "Minion Pro";
    font-weight: 600;
    font-size: 11px;
    color: #6B6B6B;

    /* content box style */
    width: 300px;
    height: 66px;
    background-color: white;
    border: 1px solid #707070;
}

.user-reservation .info-collect-agree label {
     /* text style */
     font-family: 'Minion Pro', "Montserrat";
     font-weight: normal;
     font-size: 13px;
     color: #6B6B6B;
}

.user-reservation .info-collect-agree input {
    width: 18px;
    height: 18px;
}
