/* 저작자: 김수하 */
@import url(/css/reset.css);
@import url(/css/utils.css);
@import url(/css/user/style.css);
@import url(/css/buttons.css);

/* ====== btn style ================================================== */
/* 기존 버튼 스타일에서 덮어쓰기 */
.img-btn-menu {

    /* content box style */
    background-image: url("data:image/svg+xml,%3Csvg id='Icon_ionic-ios-menu' data-name='Icon ionic-ios-menu' xmlns='http://www.w3.org/2000/svg' width='27' height='15.75' viewBox='0 0 27 15.75'%3E%3Cpath id='패스_1' data-name='패스 1' d='M30.375,12.375H5.625A1.128,1.128,0,0,1,4.5,11.25h0a1.128,1.128,0,0,1,1.125-1.125h24.75A1.128,1.128,0,0,1,31.5,11.25h0A1.128,1.128,0,0,1,30.375,12.375Z' transform='translate(-4.5 -10.125)' fill='%23b19d74'/%3E%3Cpath id='패스_2' data-name='패스 2' d='M30.375,19.125H5.625A1.128,1.128,0,0,1,4.5,18h0a1.128,1.128,0,0,1,1.125-1.125h24.75A1.128,1.128,0,0,1,31.5,18h0A1.128,1.128,0,0,1,30.375,19.125Z' transform='translate(-4.5 -10.125)' fill='%23b19d74'/%3E%3Cpath id='패스_3' data-name='패스 3' d='M30.375,25.875H5.625A1.128,1.128,0,0,1,4.5,24.75h0a1.128,1.128,0,0,1,1.125-1.125h24.75A1.128,1.128,0,0,1,31.5,24.75h0A1.128,1.128,0,0,1,30.375,25.875Z' transform='translate(-4.5 -10.125)' fill='%23b19d74'/%3E%3C/svg%3E%0A");
    padding: 0;
}

.btn-submit {
    /* text style */
    /* font-size: 14px;

    width: 108px;
    height: 48px; */
}

/* ====== outer block ================================================== */
.search-reserv {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-bottom: 42px; */
}

.search-reserv .search-reserv-header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.search-reserv form {
    margin-top: 62px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.search-reserv form .phone-num {
    margin-top: 30px;
}

.search-reserv form .btn-submit {
    margin-top: 76px;
}


/* ======= content block ========================================= */

.search-reserv {
    padding-top: 98px;
}

.search-reserv p {
    text-align: center;
}


.search-reserv form fieldset div input {
    /* text style */
    font-family: 'Montserrat', "Minion Pro";
    font-weight: 500;
    font-size: 15px;
    
    /* content box style */
    width: 340px;
    height: 33px;
    border: none;
    border-bottom: 1px solid #DDDDDD;
}