/* 저작자: 김수하 */
@import url(/css/reset.css);
@import url(/css/utils.css);
@import url(/css/user/style.css);
@import url(/css/buttons.css);

/* ====== btn style ================================================== */
/* 기존 버튼 스타일에서 덮어쓰기 */

.btn-submit {
    /* text style */
    font-size: 14px;

    width: 108px;
    height: 48px;
}

.search-id fieldset div .btn-send-num {
    /* text style */
    font-family: '나눔스퀘어라운드';
    font-size: 13px;
    font-weight: bold;
    color: #FFFFFF;

    /* layout */
    width: 98px;
    height: 27px;
    background-color: #CDBD9D;
    border-radius: 8px;

    /* item layout */
   display: flex;
   justify-content: center;
   align-items: center;

   /* effect */
   transition: 0.4s;
}

.search-id fieldset div .btn-send-num:hover {
    background-color: #B19D74;
}

/* ====== outer block ================================================== */
.search-id {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-bottom: 42px; */
}

.search-id .search-id-header {
    /* layout */
    width: 100%;

    /* item layout */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.search-id form {
    /* layout */
    margin-top: 62px;
}

.search-id form fieldset {
    /* layout */
    width: 340px;
    height: 250px;
}

.search-id form .name {
    height: 60px;
}


.search-id form .email {
    /* layout */
    height: 60px;
    margin-top: 25px;
    
    /* item layout */
    display: grid;
    grid-template: 30px 20px / auto, 100px;
    row-gap: 10px;
}

.search-id form .email input[type="email"] {
        /* layout */
        grid-area: 1/1/2/3;
    }
    
    .search-id form .email output {
        /* layout */
        grid-area: 2/1/3/3;
        margin-left: 7px;
    }
    
    .search-id form .email .btn-send-num {
        /* layout */
        grid-area: 1/2/2/3;
        align-items: center;
        margin-top: 2px;
    }
    
    
.search-id form .confirm-num {
    /* layout */
    margin-top: 25px;
    
    /* item layout */
    display: grid;
    grid-template: 30px 20px / auto, 50px;
    row-gap: 10px;
}   

    .search-id form .confirm-num input[type="text"] {
        /* layout */
        grid-area: 1/1/2/3;
    }

    .search-id form .confirm-num label {
        /* layout */
        grid-area: 2/1/3/3;
        margin-left: 7px;
    }
    
    .search-id form .confirm-num .count-num {
        /* layout */
        grid-area: 1/2/2/3;
        align-self: center;
        margin-right: 10px;
    }

    .search-id form .confirm-num .count-num .minutes {
        margin-right: 3px;
    }
    
    .search-id form .confirm-num .count-num .seconds {
        /* layout */
        display: inline-block;
        width: 20px;
        margin-left: 3px;
        
    }
    
.search-id form .btn-box {
    /* layout */
    margin-top: 50px;
    
    /* item layout */
    display: flex;
    justify-content: space-evenly;
}


/* ======= content block ========================================= */

.search-id {
    /* layout */
    padding-top: 98px;
}


.search-id form fieldset div input {
    /* text style */
    font-family: 'Montserrat', "Minion Pro";
    font-weight: 500;
    font-size: 15px;
    
    /* content box style */
    width: 340px;
    height: 33px;
    border: none;
    border-bottom: 1px solid #DDDDDD;
    box-sizing: border-box;
}

.search-id form fieldset div input:focus {
     /* content box style */
     outline: none;
     border-bottom: 2px solid #352641;
}

.search-id form fieldset div output {
    /* text style */
    font-family: 'Montserrat', "Minion Pro";
    font-weight: 500;
    font-size: 13px;
    color: #707070;
}

.confirm-num span {
    /* text style */
    font-family: 'Montserrat', "Minion Pro";
    font-weight: 500;
    font-size: 13px;
    color: #B15252;
}


.confirm-num label {
    /* text style */
    font-family: 'Montserrat', "Minion Pro";
    font-weight: 500;
    font-size: 13px;
    color: #707070;
}
