/* 저작자: 김수하 */
@import url(/css/reset.css);
@import url(/css/utils.css);
@import url(/css/user/style.css);
@import url(/css/buttons.css);

/* ====== btn style ================================================== */
/* 기존 버튼 스타일에서 덮어쓰기 */

.btn-submit {
    /* text style */
    /* font-size: 14px;

    width: 108px;
    height: 48px; */
}

/* ====== outer block ================================================== */
.search-reserv {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-bottom: 42px; */
}

.search-reserv .search-reserv-header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.search-reserv form {
    margin-top: 62px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.search-reserv form .phone-num {
    margin-top: 30px;
}

.search-reserv form .btn-submit {
    margin-top: 76px;
}


/* ======= content block ========================================= */

.search-reserv {
    padding-top: 98px;
}

.search-reserv p {
    text-align: center;
}


.search-reserv form fieldset div input {
    /* text style */
    font-family: 'Montserrat', "Minion Pro";
    font-weight: 500;
    font-size: 15px;
    
    /* content box style */
    width: 340px;
    height: 33px;
    border: none;
    border-bottom: 1px solid #DDDDDD;
    box-sizing: border-box;
}

.search-reserv form fieldset div input:focus {
    /* content box style */
    outline: none;
    border-bottom: 2px solid #352641;
}