/* 저작자: 김수하 */
@import url(/css/reset.css);
@import url(/css/utils.css);
@import url(/css/style.css);
@import url(/css/buttons.css);



/* ====== btn style ==================================================== */

.signup form fieldset div input.btn-duplicate-confirm {
    /* text style */
    font-family: '나눔스퀘어라운드', "Minion Pro";
    font-weight: bold;
    font-size: 12px;
    color: #FFFFFF;

    /* content box style */
    width: 67px;
    height: 26px;
    border: 1px solid #B6BFC5;
    background-color: #B6BFC5;
    border-radius: 7px;
    transition: 0.4s;
    cursor: pointer;
}

.signup form fieldset div input.btn-duplicate-confirm:hover {
    /* text style */
    color: #436A81;
    
    /* content box style */
    border: 1px solid #1E3146;
    background-color: transparent;
}

.btn-signup {
    /* text style */
    font-family: 'Montserrat', "Minion Pro";
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;

    /* content box style */
    background-color: #5782B9;
    border: none;
    width: 90%;
    height: 52px;
    border-radius: 82px;
    margin-top: 46px;
}

/* ====== outer block ================================================== */
body {
    background-color: #F1F0F2;
}

/* -------- header --------------------------------------- */
.header {
    /* layout */
    width: 100%;
    height: 73px;
    background-color: transparent;
    position: fixed;
    z-index: 999;
    
    /* item layout */
    display: flex;
    align-items: center;
}

.header .btn-header {
    /* layout */
    width: 100%;
    padding-left: 31px;
    padding-right: 21px;
    
    /* item layout */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-bg-box {
    /* layout */
    width: 100%;
    height: 307px;
    background-color: #5782B9;
    z-index: -1;
    border-radius: 0 0 0 75px;
}

/* ----- signup -------------------------------------- */
.signup {
    /* layout */
    width: 100%;
    z-index: 1;
    position: absolute;
    top: 64px;
    
    /* item layout */
    display: flex;
    flex-direction: column;
    align-items: center;
}


.signup form {
    /* layout */
    width: 100%;
    margin-top: 20px;
    
    /* item layout */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup form fieldset {
    /* layout */
    width: 85%;
    height: 474px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 40px;
    padding: 0 32px;
    box-sizing: border-box;
    
    /* item layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-evenly; */
}

/* ======= content block ========================================= */
.signup h1 {
    /* text style */
    font-family: 'Montserrat', "Minion Pro";
    font-weight: 600;
    font-size: 15px;
    color: #FFFFFF;
    
    /* content box style */
    display: flex;
    justify-content: center;
}

.signup form fieldset div {
    /* layout */
    width: 100%;
    margin-top: 42px;
}

    .signup form fieldset .name {
        /* layout */
        margin-top: 32px;
    }

    .signup form fieldset .id {
        /* layout */
        border-bottom: 1px solid #DDDDDD;
        
        /* item layout */
        display: flex;
    }

.signup form fieldset div input {
    /* text style */
    font-family: 'Montserrat', "Minion Pro";
    font-weight: 500;
    font-size: 16px;
    
    /* content box style */
    width: 100%;
    height: 30px;
    border: none;
    border-bottom: 1px solid #DDDDDD;
}

    .signup form fieldset .id input {
        /* layout */
        border: none;
    }

