/* 저작자 : 조영인 */
/* === layout =========================================*/
/* --- header -----------------------------------------*/
.header{
    /* layout */
    height: 194px;
    border-radius: 0 0 0 80px;
    background-image: url(../../images/pexels-aaron-ulsh-2860705.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    /* item layout */
    display: flex;
    flex-direction: column;

}
    .header>h1{
        /* layout*/
        order: 1;
        margin-top: 51px;
        align-self: center;
    }

    .header>div{
        /* layout */
        background-color: rgba(0, 0, 0, 0.5);
        height: 73px;
        padding-top: 29px;
        padding-left: 31px;
        padding-right: 21.5px;
        box-sizing: border-box;

        /* item layout */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
/* --- inqury -----------------------------------------*/
.inqury{
    /* layout */
    width: 100%;

    position: absolute;
    top: 0;
    z-index: -1;
}

/* --- inqury2 -----------------------------------------*/

/* === content block =========================================*/
/* --- header -----------------------------------------*/
.header>h1{
    /* text */
    font-family: "Montserrat";
    font-size: 19px;
    font-weight: 700;
    color: #fff;
}

.header>div>a:first-child{
    background-image: url("data:image/svg+xml,%3Csvg id='Icon_ionic-ios-arrow-back' data-name='Icon ionic-ios-arrow-back' xmlns='http://www.w3.org/2000/svg' width='13.503' height='23.619' viewBox='0 0 13.503 23.619'%3E%3Cpath id='Icon_ionic-ios-arrow-back-2' data-name='Icon ionic-ios-arrow-back' d='M15.321,18l8.937-8.93a1.688,1.688,0,0,0-2.391-2.384L11.742,16.8a1.685,1.685,0,0,0-.049,2.327L21.86,29.32a1.688,1.688,0,0,0,2.391-2.384Z' transform='translate(-11.251 -6.194)' fill='%23fff'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    text-indent: -9999px;

    /* box style */
    display: inline-block;
    width: 13.5px;
    height: 23.6px;
}

.header>div>a:nth-child(2){
    background-image: url("data:image/svg+xml,%3Csvg id='Icon_ionic-ios-menu' data-name='Icon ionic-ios-menu' xmlns='http://www.w3.org/2000/svg' width='27' height='15.75' viewBox='0 0 27 15.75'%3E%3Cpath id='패스_1' data-name='패스 1' d='M30.375,12.375H5.625A1.128,1.128,0,0,1,4.5,11.25h0a1.128,1.128,0,0,1,1.125-1.125h24.75A1.128,1.128,0,0,1,31.5,11.25h0A1.128,1.128,0,0,1,30.375,12.375Z' transform='translate(-4.5 -10.125)' fill='%23e6eef2'/%3E%3Cpath id='패스_2' data-name='패스 2' d='M30.375,19.125H5.625A1.128,1.128,0,0,1,4.5,18h0a1.128,1.128,0,0,1,1.125-1.125h24.75A1.128,1.128,0,0,1,31.5,18h0A1.128,1.128,0,0,1,30.375,19.125Z' transform='translate(-4.5 -10.125)' fill='%23e6eef2'/%3E%3Cpath id='패스_3' data-name='패스 3' d='M30.375,25.875H5.625A1.128,1.128,0,0,1,4.5,24.75h0a1.128,1.128,0,0,1,1.125-1.125h24.75A1.128,1.128,0,0,1,31.5,24.75h0A1.128,1.128,0,0,1,30.375,25.875Z' transform='translate(-4.5 -10.125)' fill='%23e6eef2'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    text-indent: -9999px;

    /* box style */
    display: inline-block;
    width: 27px;
    height: 15.7px;
}

/* --- inqury ----------------------------------------- */
.inqury>h1{
    /* text */
    font-family: "NanumSquareRound";
    font-size: 17px;
    font-weight: bold;
    color: #436A81;

    /* layout */
    background-color: #E6EEF2;
    height: 244px;
    position: relative;
}

    .inqury>h1>span{
        /* item layout */
        position: absolute;
        left: 54px;
        bottom: 15px;
    }

.inqury>form{
    /* item layout */
    display: flex;
    flex-direction: column;
}

    .inqury>form>fieldset{
        /* layout */
        background-color: #E1E7EA;
        height: 46px;

        /* item layout */
    }

        .inqury>form>fieldset>button{
            /* text */
            font-family: "Minion Pro";
            font-size: 13px;
            font-weight: bold;

            /* layout */
            margin-top: 12px;
            margin-left: 25px;
            background-color: #EEEEEE;
            border-radius: 25px;
            border: 1px solid #BFBFBF;

            /* etc*/
            cursor: pointer;
        }

        .inqury>form>fieldset>button:nth-child(2){
            /* layout */
            margin-left: 50px;
        }

    .inqury>form>div{
        /* layout */
        width: 100%;
        height: 80px;
        border-bottom: 1px solid #A9A9A9;
        align-self: center;

        /* item layout */
        display: grid;
        grid-template: 
            "padding1 img name check padding2" 1fr
            "padding1 img para cnt padding2" 1fr
            / 1fr 80px 270px 40px 1fr;

        position: relative;
    }

        .inqury>form>div>img{
            /* layout */
            grid-area: img;
            width: 50px;
            height: 50px;
            border-radius: 50px;
            border: 1px solid #707070;

            margin-top: 14px;
            margin-left: 23px;

        }

        .inqury>form>div>span:nth-child(2){
            /* text */
            font-family: "Minion Pro";
            font-size: 16px;
            font-weight: normal;
            color: #707070;

            /* layout */
            grid-area: name;
            margin-top: 14px;
            margin-left: 18px;
        }

        .inqury>form>div>span:nth-child(3){
            /* text */
            font-family: "NanumSquareRound";
            font-size: 14px;
            font-weight: bold;
            color: #707070;

            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            /* layout */
            grid-area: para;
            margin-top: 7px;
            margin-left: 18px;
        }

        .inqury>form>div>span:nth-child(4){
            /* text */
            font-family: "NanumSquareRound";
            font-size: 12px;
            font-weight: bold;
            color: #fff;

            text-align: center;
            line-height: 22px;

            /* layout */
            grid-area: cnt;
            display: inline-block;
            width: 22px;
            height: 22px;
            border-radius: 50px;
            background-color: #B19D74;

            margin-top: 5px;
            margin-left: 3px;
            margin-right: 18.8px;
        }

        .inqury>form>div>input{
            /* layout */
            grid-area: check;

            position: absolute;
            top: 14px;
            z-index: 1;

            width: 18px;
            height: 18px;
        }

        .inqury>form>div>a{
            /* text */
            text-indent: -9999px;

            /* layout */
            grid-area: img;
            margin-top: 20px;
            width: 390px;
            height: 60px;
        }
