/* 저작자: psh */
@import url(/css/reset.css);
@import url(/css/utils.css);
@import url(/css/style.css);
@import url(/css/buttons.css);
@import url(/css/svg.css);

/* ====== btn style ==================================================== */

.img-btn-close {
    /* layout */
    background-image: url("data:image/svg+xml,%3Csvg id='Icon_feather-plus' data-name='Icon feather-plus' xmlns='http://www.w3.org/2000/svg' width='31.776' height='31.776' viewBox='0 0 31.776 31.776'%3E%3Cg id='Icon_feather-plus-2' data-name='Icon feather-plus' transform='matrix(0.719, 0.695, -0.695, 0.719, 39.735, -35.779)'%3E%3Cpath id='패스_12' data-name='패스 12' d='M18,29.972V7.5' transform='translate(0.736 34.995)' fill='none' stroke='%23707070' stroke-linecap='round' stroke-linejoin='round' stroke-width='3'/%3E%3Cpath id='패스_13' data-name='패스 13' d='M7.5,18H29.972' transform='translate(0 35.731)' fill='none' stroke='%23707070' stroke-linecap='round' stroke-linejoin='round' stroke-width='3'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: right center;
    height: 30px;
    width: 30px;
    display: inline-block;
    overflow: hidden;
    text-indent: -999px;

    /* effect */
    cursor: pointer;
}

.btn-add-room {
    /* text */
    font-family: 'Minion Pro';
    font-size: 17px;
    font-weight: bold;
    color: #707070;

    /* effect */
    cursor: pointer;
}

.btn-select {
    /* text */
    font-family: 'Minion Pro';
    font-size: 17px;
    font-weight: bold;
    color: #707070;
    
    /* layout */
    width: 120px;
    background-color: transparent;
    border: none;

    /* effect */
    cursor: pointer;
}

.img-btn-minus{
    height: 10px;
    width: 1px;

    padding: 0 10px;
    margin-right: 18px;
}

.img-btn-plus{
    height: 10px;
    width: 10px; 

    padding: 0 10px;
    

}


.btn-reserv{
    margin-top: 40px;
}

.btn-reserv>a>input{
    font-family: 'Minion Pro';
    font-size: 14px;
    font-weight: bold;
    color: white;

    background-color: #B19D74;
    border-radius: 25px 25px 20px 20px;
    border: none;


    width: 360px;
    height: 64px;
}


/* -----------------line------------------------------------- */
.div-line{
    margin: 20px 20px;
    border-bottom: 1px solid #BFBFBF;
}



/* ====== outer block ================================================== */
body {
    /* layout */
    height: 100vh;
    background: rgba(0, 0, 0, 0.72);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* --------------inner block----------------------------------------------------------------- */

section {
    /* layout */
    width: 360px;
    background-color: #EEEEEE;
    border-radius: 20px;
}

.top{
    display: flex;
    justify-content: space-between;
    padding: 20px 17px 10px 26px;

}

section form fieldset {
    display: flex;
    padding: 0;
    margin: 0;
}
    section form>div>div:first-child{
        font-family: 'Minion Pro';
        font-size: 17px;
        font-weight: bold;
        color: #707070;
    }



.breakfast-title{
    margin: 16px 0 14px 0;
}

    section form .breakfast{
        font-family: 'Minion Pro';
        font-size: 14px;
        font-weight: bold;
        color: #707070;
        
        margin: 0;
        padding-left: 19px;
    }
        section form .breakfast>div:nth-child(2){
            padding-right: 10px;            
        }
        section form .breakfast>label{
            margin-right: 10px; 
            margin-left: 10px;

        }
        /* section form .breakfast div>span{
            padding-right: 5px;
            padding-left: 5px;    
        } */

 
    section form>div:nth-child(2){
        font-family: 'Minion Pro';
        font-size: 14px;
        font-weight: bold;
        color: #707070;


        padding-left: 28px;
    }


    section form>div:nth-child(4){
        font-family: 'Minion Pro';
        font-size: 12px;
        font-weight: normal;
        color: #9A0436;

        margin-top: 20px;
        margin-left: 31px;
    }

    section form fieldset div input {
        /* text */
        font-family: 'Minion Pro';
        font-size: 14px;
        font-weight: bold;
        color: #707070;
        
        /* layout */
        border: none;
        width: 22px;
        padding: 0;

        text-align: center;
        display: flex;
        justify-content: center;
    }

    .adults-num{
        display: flex;
        align-items: center;
    }

    .kid-num{
        display: flex;
        align-items: center;
    }


.view-title{
    margin-top: 30px;
}
.room-num{
    display: flex;
    align-items: center;

    font-family: 'Minion Pro';
    font-size: 12px;
    font-weight: bold;

    margin-right: 10px;
    margin-left: 20px;

}

    .room-view{
        display: grid;
        grid-template-columns: 70px 25px;
        grid-template-rows: repeat(2,30px);
        margin: 0 5px;


        font-family: 'Minion Pro';
        font-size: 14px;
        font-weight: normal;

        align-items: center;
        margin-left: 28px;

    }
    
    .room-view>label:nth-child(2n){
        font-family: 'Minion Pro';
        font-size: 14px;
        font-weight: normal;
    }

.ask-detail{
    margin-left: 26px;
}
    .ask-detail>div>div{
        margin-bottom: 14px;
    }
    
    .ask-detail>div>div:nth-child(2){
        font-family: 'Minion Pro';
        font-size: 14px;
        font-weight: bold;
        color: #707070;
    }

    .ask-detail>fieldset>input{
        width: 280px;
        height: 120px;
        color: #707070;
    }

    
.opt-check{
    margin-left: 26px;
}
    .opt-check>div{
        font-family: 'Minion Pro';
        font-size: 14px;
        font-weight: bold;
        color: #707070;
    }
    .opt-check>div:first-child{
        font-family: 'Minion Pro';
        font-size: 17px;
        font-weight: bold;
        color: #707070;

        margin-bottom: 10px;
    }

.opt-total{
    margin-left: 26px;
}

    .opt-total>div:first-child{
        font-family: 'Minion Pro';
        font-size: 17px;
        font-weight: bold;
        color: #707070;

        margin-bottom: 13px;
    }

    .opt-total>div:nth-child(3){
        font-family: 'Minion Pro';
        font-size: 14px;
        font-weight: bold;
        color: #707070;

        margin-top: 30px;
        margin-bottom: 13px;
    }
    .opt-total>div>div{
        font-family: 'Minion Pro';
        font-size: 14px;
        font-weight: normal;
        color: #707070;
        
        display: flex;
        justify-content: space-between;
    }

    .opt-total>div>div>span{
        margin-right: 17px;
        text-align: right;
    }

.total-pay{
    margin-left: 26px;
}
    .total-pay>div{
        display: flex;
        justify-content: space-between;
    }
    .total-pay>div>span:nth-child(2){
        margin-right: 17px;
    }