/* 저작자 : 조영인 */
/* === layout =========================================*/
/* --- header -----------------------------------------*/
.header{
    /* layout */
    height: 194px;
    border-radius: 0 0 0 80px;
    background-image: url(../../../images/ocean-wave.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    /* item layout */
    display: flex;
    flex-direction: column;

    position: relative;
}

/* --- member-manage -----------------------------------------*/
.member-manage{
    /* layout */
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    z-index: -1;
}

/* === content block =========================================*/
/* --- header -----------------------------------------*/
.header::after{
    /* layout */
    background-color: #fff;
    opacity: 0.15;
    content: "";

    width: 100%;
    height: 194px;

    position: absolute;
    top: 0;
    z-index: 2;
}

.header>h1{
    /* text */
    font-family: "Montserrat";
    font-size: 19px;
    font-weight: 700;
    color: #fff;

    /* layout*/
    order: 1;
    align-self: center;

    position: absolute;
    bottom: 47px;
    z-index: 1;
}

.header>div{
    /* layout */
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 73px;
    padding-top: 29px;
    padding-left: 31px;
    padding-right: 21.5px;
    box-sizing: border-box;

    /* item layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: absolute;
    top: 0;
    z-index: 3;
}

/* --- member-manage -----------------------------------------*/
.member-manage>h1{
    /* text */
    font-family: "NanumSquareRound";
    font-size: 17px;
    font-weight: bold;
    color: #436A81;

    /* layout */
    background-color: #E6EEF2;
    height: 244px;
    position: relative;
}

    .member-manage>h1>span{
        /* item layout */
        position: absolute;
        left: 54px;
        bottom: 15px;
    }

.member-manage ul{
    /* item layout */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.member-manage ul li{
    /* layout */
    width: 100%;
    border-bottom: 1px solid #707070;
}

    .member-manage ul li a{
        /* layout */
        width: 100%;
        height: 47.9px;

        /* item layout */
        display: grid;
        grid-template: 
            "padding1 img name padding2" 1fr
            /1fr 63px 270px 1fr ;
        justify-content: center;
        align-items: center;

        /* text*/
        font-family: "Minion Pro";
        font-size: 15px;
        font-weight: normal;
        color: #707070;
    }

    .member-manage ul li a:hover{
        background-color: rgba(0, 0, 0, 0.2);
    }

        .member-manage img{
            /* layout */
            grid-area: img;
            width: 37px;
            height: 37px;
            border-radius: 30px;
            border: 1px solid #707070;
        }

        .member-manage span{
            /* layout */
            grid-area: name;
        }

        .deco-arrow{
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12.561' height='22.123' viewBox='0 0 12.561 22.123'%3E%3Cpath id='Icon_feather-chevron-right' data-name='Icon feather-chevron-right' d='M13.5,26.88l8.94-8.94L13.5,9' transform='translate(-11.379 -6.879)' fill='none' stroke='%23707070' stroke-linecap='round' stroke-linejoin='round' stroke-width='3'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-size: 30px 30px;
            background-position: center right 0px;
        }


.member-manage>div>a{
    /* text */
    font-family: "Minion Pro";
    font-size: 17px;
    font-weight: bold;

    text-align: center;
    line-height: 35.1px;

    /* layout */
    display: inline-block;
    width: 35.1px;
    height: 35.1px;
    border-radius: 10px;
    border: 1px solid #707070;
}

    .member-manage>div>a{
        /* text */
        color: #A9A9A9;

        /* layout */
        background-color: #E5EDF0;
        margin-left: 9px;
    }

    .member-manage>div>a:first-child{
        /* text */
        color: #977E4B;

        /* layout */
        background-color: #E5EDF0;
    }

.member-manage>div{
    /* layout */
    position: fixed;
    bottom: 25px;

    display: block;
    width: 100%;

    /* item layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
}