/* ------ 작성자 : psh-------------- */
@import url(/css/reset.css);
@import url(/css/utils.css);
@import url(/css/style.css);
@import url(/css/buttons.css);
@import url(/css/svg.css);
/* ====== reset ==================================================== */
fieldset {
    padding: 0;
}


/* ====== btn style ==================================================== */
.img-btn-go-back {
    /* layout */
    margin-left: 30px;
}

.img-btn-menu {
    /* layout */
    margin-right: 21px;
}

/* ====== outer block ================================================== */

/* -------- header --------------------------------------- */
.header {
    /* layout */
    display: flex;
    flex-direction: column-reverse;
    padding-top: 73px;
    /* align-items: center; */
}

.header div {
    /* layout */
    background-color: rgba(67, 106, 129, 0.6);
    width: 100%;
    height: 73px;
    position: fixed;
    z-index: 999;
    top: 0;

    /* item layout */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    display: flex;
    align-items: center;
}

.edit-member-info .member-info ul {
    height: 300px;
}


.edit-member-info .member-info ul li {
    /* item layout */
    display: grid;
    grid-template-columns: 90px auto;
    grid-template-rows: 50px;
    box-sizing: border-box;
}

.edit-member-info .member-info ul li:last-child span {
    padding: 0;
}

.edit-member-info .member-info ul li:last-child span:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/4;
    padding: 15px 0 16px 0;
}

.edit-member-info .member-info ul li:last-child span:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-left: 25px;
    align-self: center;
}

.edit-member-info .member-info ul li:last-child span:nth-child(3) {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-left: 25px;
    align-self: center;
}

.edit-member-info .member-info ul li:last-child span:nth-child(4) {
    grid-column: 2/3;
    grid-row: 3/4;
    margin-left: 25px;
    align-self: center;
}

.edit-member-info .room-info ul li {
    /* layout */
    /* box-sizing: border-box; */
    
    /* item layout */
    display: grid;
    grid-template-columns: 90px auto;
    grid-template-rows: repeat(2, 40px);
    row-gap: 7px;
}

    .edit-member-info .room-info ul li label {
        grid-column: 1/2;
        grid-row: 1/3;
        padding: 15px 0 16px 0;
    }

    .edit-member-info .room-info ul li select:first-child {
        grid-column: 2/3;
        grid-row: 1/2;
        margin-left: 25px;
        align-self: center;
    }

    .edit-member-info .room-info ul li select:last-child {
        grid-column: 2/3;
        grid-row: 2/3;
        margin-left: 25px;
        align-self: center;
        height: 100%;
    }

.edit-member-info form .btn-box {
    background-color: #DAE5EA;
    display: flex;
    padding: 18px 0;
    justify-content: space-evenly;
}

/* ======= content block ========================================= */

.header h1 {
    /* text style */
    font-family: 'Montserrat';
    font-size: 19px;
    font-weight: bold;
    color: #1E3146;

    /* layout */
    background-color: rgba(67, 106, 129, 0.25);
    padding: 16px 0 20px 47px;
}

.edit-member-info>h1 {
    /* text style */
    font-family: '나눔스퀘어라운드';
    font-size: 17px;
    font-weight: bold;
    color: #436A81;

    /* layout */
    padding: 13px 0 13px 47px;
    background-color: #E6EEF2;
}

.member-info>h1,
.room-info h1 {
    /* text style */
    font-family: '나눔스퀘어라운드';
    font-size: 15px;
    font-weight: bold;
    color: #436A81;

    /* layout */
    width: 100%;
    padding: 12px 0 12px 49px;
    background-color: #E1E7EA;
}



section ul li {
    /* layout */
    border-bottom: 1px solid #A9A9A9;
}

    section ul li:first-child {
        /* layout */
        border-top: 1px solid #A9A9A9;
    }


section ul li select {
    /* layout */
    border: none;
    padding: 15px 0 16px 0;
    margin-right: 25px;
    height: 100%;
    appearance:none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12.596' height='6.798' viewBox='0 0 12.596 6.798'%3E%3Cg id='Icon_feather-chevron-down' data-name='Icon feather-chevron-down' transform='translate(0.707 0.707)'%3E%3Cpath id='Icon_feather-chevron-down-2' data-name='Icon feather-chevron-down' d='M9,13.5l5.591,5.591L20.182,13.5' transform='translate(-9 -13.5)' fill='none' stroke='%23707070' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: right center;
}

    section ul li select:focus {
        /* layout */
        outline: none;
    }

section ul li span {
    /* layout */
    padding: 15px 0 16px 0;
    /* padding-right: 28px; */
    box-sizing: border-box;
}


section ul li span:first-child,
section ul li label {
    width: 90px;
    display: flex;
    align-items: center;
    border-right: 1px solid #A9A9A9;
    justify-content: center;
}

section ul li label {
    /* layout */
    width: 89px;
}


section ul li span:nth-child(2), select {
    /* layout */
    margin-left: 25px; 
}

section ul li span,
label,
select,
option {
    /* text style */
    font-family: 'Minion Pro';
    font-size: 13px;
    font-weight: bold;
    color: #707070;
}

.edit-member-info .member-info ul li:last-child span:nth-child(2),
.edit-member-info .member-info ul li:last-child span:nth-child(3) {
    /* text */
    font-weight: normal;
}



.edit-member-info .room-info ul li select {
    /* layout */
    padding: 0;
}


/* ---------------photo---------------------------------------------- */

.member-photo{
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
}    

/* =============================footer========================== */

.footer{
    width: 100%;
    height: 130px;
    display: grid;

    grid-template-columns: 100px 1fr;
    align-items: center;

    background-color: #E6EFF2;
    width: 100%;
    height: 125px;
}

.footer>div>img{ 
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.footer-text>*{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 11px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 20px;
}
.footer-text>div{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    
}