/* ------ 작성자 : psh-------------- */
@import url(/css/reset.css);
@import url(/css/utils.css);
@import url(/css/style.css);
@import url(/css/buttons.css);
@import url(/css/svg.css);
/* ====== reset ==================================================== */
fieldset {
    padding: 0;
}


/* ====== btn style ==================================================== */
.img-btn-go-back {
    /* layout */
    margin-left: 30px;
}

.img-btn-menu {
    /* layout */
    margin-right: 21px;
}

/* ====== outer block ================================================== */

/* -------- header --------------------------------------- */
.header {
    /* layout */
    display: flex;
    flex-direction: column-reverse;
    padding-top: 73px;
    /* align-items: center; */
}

.header div {
    /* layout */
    background-color: rgba(67, 106, 129, 0.6);
    width: 100%;
    height: 73px;
    position: fixed;
    z-index: 999;
    top: 0;

    /* item layout */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    display: flex;
    align-items: center;
}


.edit-room-info .room-info ul li {
    /* item layout */
    display: grid;
    grid-template-columns: 90px auto;
    grid-template-rows: 50px;
    box-sizing: border-box;
}



.edit-room-info
.room-info ul li label {
        padding: 15px 0 16px 0;
    }

.edit-room-info>li>div{
    display: flex;
}

    
    
.edit-room-info form .btn-box {
    background-color: #DAE5EA;
    display: flex;
    padding: 18px 0;
    justify-content: space-evenly;
}


/* ---------------photo---------------------------------------------- */


.room-photo{
    height: 180px;
    width: 100%;
    overflow: hidden;
}

.room-photo>div>img{
    height: 180px;
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
}

.room-photo>div>div{
    text-align: center;
    color:#fff;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #00000035;
    height: 180px;
    width: 100%;


}

.room-photo:hover>div>div{
    transform: translateY(-180px);
}


/* ======= content block ========================================= */


.header h1 {
    /* text style */
    font-family: 'Montserrat';
    font-size: 19px;
    font-weight: bold;
    color: #1E3146;

    /* layout */
    background-color: rgba(67, 106, 129, 0.25);
    padding: 16px 0 20px 47px;
}

.edit-room-info>h1 {
    /* text style */
    font-family: '나눔스퀘어라운드';
    font-size: 17px;
    font-weight: bold;
    color: #436A81;

    /* layout */
    padding: 13px 0 13px 47px;
    background-color: #E6EEF2;
}

.room-info>h1,
.room-info h1 {
    /* text style */
    font-family: '나눔스퀘어라운드';
    font-size: 15px;
    font-weight: bold;
    color: #436A81;

    /* layout */
    width: 100%;
    padding: 12px 0 12px 49px;
    background-color: #E1E7EA;
}



section ul li {
    /* layout */
    border-bottom: 1px solid #A9A9A9;
}

    section ul li:last-child {
        /* layout */
        border-bottom: 0;
    }


section ul li select {
    /* layout */
    cursor: pointer;
    border: none;
    padding: 15px 0 16px 0;
    margin-right: 25px;
    height: 100%;
    appearance:none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12.596' height='6.798' viewBox='0 0 12.596 6.798'%3E%3Cg id='Icon_feather-chevron-down' data-name='Icon feather-chevron-down' transform='translate(0.707 0.707)'%3E%3Cpath id='Icon_feather-chevron-down-2' data-name='Icon feather-chevron-down' d='M9,13.5l5.591,5.591L20.182,13.5' transform='translate(-9 -13.5)' fill='none' stroke='%23707070' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: right center;
}

    section ul li select:focus {
        /* layout */
        outline: none;
    }

section ul li span {
    /* layout */
    padding: 15px 0 16px 0;
    /* padding-right: 28px; */
    box-sizing: border-box;
}


section ul li>span:first-child,
section ul li label {
    width: 90px;
    display: flex;
    align-items: center;
    border-right: 1px solid #A9A9A9;
    justify-content: center;
}

section ul li label {
    /* layout */
    width: 89px;
}

section ul li>div{
    margin: 0 25px;
    display: flex;
    justify-content: space-between;
}

section ul li span:nth-child(2),  select {
    /* layout */
    margin-left: 25px; 
}

section ul li span,
label,
select,
option {
    /* text style */
    font-family: 'Minion Pro';
    font-size: 13px;
    font-weight: bold;
    color: #707070;
}


.edit-room-info .room-info ul li select {
    /* layout */
    padding: 0;
}



/* =============================footer========================== */

.footer{
    width: 100%;
    height: 130px;
    display: grid;

    grid-template-columns: 100px 1fr;
    align-items: center;

    background-color: #E6EFF2;
    width: 100%;
    height: 125px;
}

.footer>div>img{ 
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.footer-text>*{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 11px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 20px;
}
.footer-text>div{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    
}


.top2{
    background-color: #E6EEF2;
    width: 100%;
    height: 44px;

    font-family: 'Montserrat','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    font-weight: bold;
    color: #436A81;
}
    .header2{
        position: absolute;
        top: 143px;
        left: 54px;
    }

/* ---------------contents---------------------------------------------- */

 

.superior-photo>img{
    height: 190px;
    width: 100%;
    object-fit: cover;
    
    background-color: #00000035;
    vertical-align: middle;
}

/* --------------------table ----------------------*/

.member-table{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(5, 50px);

    vertical-align: ;

}

.member-table>span{
    border: 1px solid grey;
    border-bottom: 0px;
    padding: 15px 15px;

    font-family: 'Minion Pro','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: grey;

}


.member-table>span:nth-child(2n+1){
    border-right: 0px;
}

/* -------------------- ---------------*/




.bg-btn-bottom{
    width: 100%;
    height: 68px;
    background-color: #DAE5EA;
    
}

.btn-bottom{
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 4em;
}

.btn-bottom>input{
    height: 28px;
    width: 83px;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #1E3146;

    background-color: #fff;
    border-radius: 25px ;
    border: 1px solid #BFBFBF;
}
        /* ------------버튼 효과--- */
        .btn-bottom>input:hover{
            background-color: #fff7;
        }
        .btn-bottom>input:active{
            background-color: #fff1;
        }
/* ---------------------------footer-------------------------------- */

.footer{
    width: 100%;
    height: 130px;
    display: grid;

    grid-template-columns: 100px 1fr;
    align-items: center;

    background-color: #E6EFF2;
    width: 100%;
    height: 125px;
}

.img-footer{ 
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.text-footer{
    font-size: 11px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 20px;
}