/* 저작자 : 조영인 */
/* === layout =========================================*/
/* --- header -----------------------------------------*/
.header{
    /* layout */
    height: 194px;
    border-radius: 0 0 0 80px;
    background-image: url(../../../images/ocean-wave.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    /* item layout */
    display: flex;
    flex-direction: column;

    position: relative;
}

/* --- room-manage -----------------------------------------*/
.room-manage{
    /* layout */
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    z-index: -1;
}

/* === content block =========================================*/
/* --- header -----------------------------------------*/
.header::after{
    /* layout */
    background-color: #fff;
    opacity: 0.15;
    content: "";

    width: 100%;
    height: 194px;
    border-radius: 0 0 0 80px;

    position: absolute;
    top: 0;
    z-index: 2;
}

.header>h1{
    /* text */
    font-family: "Montserrat";
    font-size: 19px;
    font-weight: 700;
    color: #fff;

    /* layout*/
    order: 1;
    margin-top: 51px;
    align-self: center;

    position: absolute;
    bottom: 47px;
    z-index: 1;
}

.header>div{
    /* layout */
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 73px;
    padding-top: 29px;
    padding-left: 31px;
    padding-right: 21.5px;
    box-sizing: border-box;

    position: absolute;
    top: 0;
    z-index: 3;

    /* item layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* --- room-manage -----------------------------------------*/
.room-manage>h1{
    /* text */
    font-family: "NanumSquareRound";
    font-size: 17px;
    font-weight: bold;
    color: #436A81;

    /* layout */
    background-color: #E6EEF2;
    height: 244px;
    position: relative;
}

    .room-manage>h1>span{
        /* item layout */
        position: absolute;
        left: 54px;
        bottom: 15px;
    }

.room-manage ol li a{
    /* text */
    font-family: "Minion Pro";
    font-size: 15px;
    font-weight: bold;
        color: #707070;

    /* layout */
    height: 50px;
    border: 1px solid #A9A9A9;

    /* item layout */
    display: grid;
    grid-template: 
        "padding1 room-no view padding2" 50px
        / 1fr 90px 270px 1fr;
    align-items: center;
}
.room-manage ol li a:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

    .room-manage ol li a span:first-child{
        /* layout */
        grid-area: room-no;
        margin-top: 13.9px;
        margin-left: 25.8px;
    }

    .room-manage ol li a span:nth-child(2){
        /* layout */
        grid-area: view;
        margin-top: 13.9px;
    }

    .deco-arrow{
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12.561' height='22.123' viewBox='0 0 12.561 22.123'%3E%3Cpath id='Icon_feather-chevron-right' data-name='Icon feather-chevron-right' d='M13.5,26.88l8.94-8.94L13.5,9' transform='translate(-11.379 -6.879)' fill='none' stroke='%23707070' stroke-linecap='round' stroke-linejoin='round' stroke-width='3'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-size: 15px 20px;
        background-position: center right 0px;
    }